@{
    ViewData["Title"] = "About";
}

<div class="main"  data-bs-spy="scroll" data-bs-target="#navContentmenu" data-bs-root-margin="0px 0px -50%" data-bs-smooth-scroll="true">

	<!--Banner Section ======================-->
	<section class="banner-section banner-1 banner-2 position-relative parallax">		
		<div class="container">
			<div class="banner-wrapper d-flex gap-20 gap-lg-40 justify-content-center align-items-lg-center flex-column">
				<h2 class="banner-heading display-3 fw-extra-bold custom-jakarta mb-0">About us</h2>
				<nav aria-label="breadcrumb">
					<ol class="blog-breadcrumb breadcrumb">
						<li class="breadcrumb-item"><a href="home-1.html">Home</a></li>
						<li class="breadcrumb-item active" aria-current="page">About us</li>
					</ol>
				</nav>
			</div>
		</div>								
	</section>
	<!--Banner Section ======================-->


	<!--About Section ======================-->
	<section class="about-section about-1 pt-50 pt-lg-100 pt-xxl-150">
		<div class="container">
			<div class="row gy-50 gy-lg-0 gx-80 justify-content-lg-between align-items-lg-center">
				<div class="col-lg-6">
					<div>
						<div class="section-title section-title-style-2 mb-4 mb-lg-30 mb-xxl-40">	
							<h3 class="sub-title display-3 fw-extra-bold primary-text-shadow custom-roboto">Eventiva</h3>
						</div>
						<!-- section-title -->
						<h1 class="display-5 custom-jakarta fw-extra-bold mb-0">
							Where music and magic unite for unforgettable experiences
						</h1>								
						<a href="#ticket" class="btn btn-gradient d-inline-flex align-items-center gap-2 mt-4 mt-lg-40 mt-xxl-60" aria-label="buttons"><span class="buttons-logo"><svg width="25" height="25"><use xlink:href="#buttons-logo"></use></svg></span>Get Ticket</a>
					</div>					
				</div>
				<!-- col-5 -->
				<div class="col-lg-6">
					<div class="about-content-wrapper position-relative">
						<div class="about-image-1 position-relative">
							<div class="about-image-wrapper">
								<img src="assets/images/home-1/about-image-1.jpg" class="img-fluid" alt="img">
							</div>
							<div class="video-popup video-popup-center position-absolute">
								<div class="circle-wrapper">
									<div class="circle-bg"></div>
									<a href="http://www.youtube.com/watch?v=0O2aH4XLbto" class="inner-circle video-icon video-popup-link">
										<span class=""><svg width="30" height="30"><use xlink:href="#video-icon"></use></svg></span>	
									</a>																	
									<div class="rotate-text2 text-uppercase">
										<p>Where Melodies Unite Hearts Harmonia-</p>	 
									</div>
								</div>
							</div>
									
						</div>
						<div class="about-image-2">									
						</div>
						<div class="ellipse-image-1">
							<img src="assets/images/home-1/ellipse-1.png" class="img-fluid" alt="img">
						</div>
					</div>
					<!-- about-content-wrapper -->
				</div>
			</div>					
		</div>
	</section>
	<!--About Section ======================-->


	<!--Commanders Section ======================-->
	<section id="commanders" class="commander-section about-1 pt-50 pt-lg-100 pt-xxl-150">
		<div class="container">					
			<div class="row gy-4 gy-lg-0 align-items-lg-end justify-content-lg-between mb-30 mb-lg-70">
				<div class="col-lg-4">
					<div class="section-title section-title-style-2">
						<span class="fs-3 straight-line-wrapper fw-semibold position-relative custom-roboto"> <span class="straight-line"></span>Behind The Eventiva</span>
						<h2 class="title display-3 fw-extra-bold mb-n2 text-opacity custom-roboto">Creative</h2>
						<h3 class="sub-title display-3 fw-extra-bold primary-text-shadow custom-roboto">Commanders</h3>						
					</div>
					<!-- section-title -->
				</div>
				<div class="col-lg-4">
					<div class="highlights-text">
						<p class="custom-jakarta text-lg-end">
							Unleash the rhythm with an extraordinary lineup. Get ready for a musical extravaganza that will captivate your senses. 
						</p>
					</div>
				</div>
			</div>
			<!-- row -->
			<div class="d-flex flex-column gap-50 gap-lg-80 gap-xl-100">
				<div class="row gx-30 gy-50 gy-lg-0">
					<div class="col-sm-6 col-lg-4 col-xl-3">
						<div class="commander-wrapper">
							<div class="commander-image mb-3">
								<a href="#">
									<img src="assets/images/commander-1.jpg" class="img-fluid" alt="img">
								</a>										
							</div>
							<div class="commander-info">
								<h2 class="fw-semibold custom-jakarta mb-0">Sarah Mitchell</h2>
								<p class="mb-0 fw-semibold custom-jakarta">Event Director</p>
							</div>
						</div>
					</div>
					<!-- col -->
					<div class="col-sm-6 col-lg-4 col-xl-3">
						<div class="commander-wrapper">
							<div class="commander-image mb-3">
								<a href="#">
									<img src="assets/images/commander-2.jpg" class="img-fluid" alt="img">
								</a>										
							</div>
							<div class="commander-info">
								<h2 class="fw-semibold custom-jakarta mb-0">David Foster</h2>
								<p class="mb-0 fw-semibold custom-jakarta">Marketing Manager</p>
							</div>
						</div>
					</div>
					<!-- col -->
					<div class="col-sm-6 col-lg-4 col-xl-3">
						<div class="commander-wrapper">
							<div class="commander-image mb-3">
								<a href="#">
									<img src="assets/images/commander-3.jpg" class="img-fluid" alt="img">
								</a>										
							</div>
							<div class="commander-info">
								<h2 class="fw-semibold custom-jakarta mb-0">Mark Johnson</h2>
								<p class="mb-0 fw-semibold custom-jakarta">Operations Supervisor</p>
							</div>
						</div>
					</div>
					<!-- col -->
					<div class="col-sm-6 col-lg-4 col-xl-3">
						<div class="commander-wrapper">
							<div class="commander-image mb-3">
								<a href="#">
									<img src="assets/images/commander-4.jpg" class="img-fluid" alt="img">
								</a>										
							</div>
							<div class="commander-info">
								<h2 class="fw-semibold custom-jakarta mb-0">Linda Chen</h2>
								<p class="mb-0 fw-semibold custom-jakarta">Sponsorship Coordinator</p>
							</div>
						</div>
					</div>
					<!-- col -->
				</div>
				<!-- row -->

				<div class="row gx-30 gy-50 gy-lg-0">
					<div class="col-sm-6 col-lg-4 col-xl-3">
						<div class="commander-wrapper">
							<div class="commander-image mb-3">
								<a href="#">
									<img src="assets/images/commander-5.jpg" class="img-fluid" alt="img">
								</a>										
							</div>
							<div class="commander-info">
								<h2 class="fw-semibold custom-jakarta mb-0">Emily Turner</h2>
								<p class="mb-0 fw-semibold custom-jakarta">Guest Experience Manager</p>
							</div>
						</div>
					</div>
					<!-- col -->
					<div class="col-sm-6 col-lg-4 col-xl-3">
						<div class="commander-wrapper">
							<div class="commander-image mb-3">
								<a href="#">
									<img src="assets/images/commander-6.jpg" class="img-fluid" alt="img">
								</a>										
							</div>
							<div class="commander-info">
								<h2 class="fw-semibold custom-jakarta mb-0">Olivia Bennett</h2>
								<p class="mb-0 fw-semibold custom-jakarta">Entertainment Coordinator</p>
							</div>
						</div>
					</div>
					<!-- col -->
					<div class="col-sm-6 col-lg-4 col-xl-3">
						<div class="commander-wrapper">
							<div class="commander-image mb-3">
								<a href="#">
									<img src="assets/images/commander-7.jpg" class="img-fluid" alt="img">
								</a>										
							</div>
							<div class="commander-info">
								<h2 class="fw-semibold custom-jakarta mb-0">Alex Ramirez</h2>
								<p class="mb-0 fw-semibold custom-jakarta">Ticketing & Registration Manager</p>
							</div>
						</div>
					</div>
					<!-- col -->
					<div class="col-sm-6 col-lg-4 col-xl-3">
						<div class="commander-wrapper">
							<div class="commander-image mb-3">
								<a href="#">
									<img src="assets/images/commander-8.jpg" class="img-fluid" alt="img">
								</a>										
							</div>
							<div class="commander-info">
								<h2 class="fw-semibold custom-jakarta mb-0">Chris Anderson</h2>
								<p class="mb-0 fw-semibold custom-jakarta">Logistics and Venue Manager</p>
							</div>
						</div>
					</div>
					<!-- col -->
				</div>
				<!-- row -->
			</div>					
		</div>

	</section>
	<!--Commanders Section ======================-->


	<!--Highlights Section ======================-->
	<section id="events" class="highlight-section pt-50 pt-lg-100 pt-xxl-130">
		<div class="container position-relative">					
			<div class="row gy-4 gy-lg-0 align-items-lg-end justify-content-lg-between mb-30 mb-lg-70">
				<div class="col-lg-4">
					<div class="section-title section-title-style-2">
						<span class="fs-3 straight-line-wrapper fw-semibold position-relative custom-roboto"> <span class="straight-line"></span>Benifits</span>
						<h2 class="title display-3 fw-extra-bold mb-n2 text-opacity custom-roboto">What</h2>
						<h3 class="sub-title display-3 fw-extra-bold primary-text-shadow custom-roboto">Will You Get</h3>						
					</div>
					<!-- section-title -->
				</div>
				<div class="col-lg-5">
					<div class="highlights-text">
						<p class="custom-jakarta text-lg-end">
							Immerse in mesmerizing performances, vibrant soundscapes and interactive art at our music extravaganza. Experience a festival atmosphere like no other.
						</p>
					</div>
				</div>
			</div>
			<!-- row -->
					
			<div class="swiper highlight-swiper-overflow">
				<div class="swiper-wrapper"> 
					<div class="swiper-slide">
						<a href="#" class="highlights-item-3 text-decoration-none position-relative d-flex flex-column gap-20 px-30 px-lg-40 py-40 py-lg-50">
							<div class="highlights-icon-style-1">
								<svg width="68" height="64"><use xlink:href="#highlights-icon-1"></use></svg>
							</div>
							<h3 class="fw-extra-bold mb-0">Diverse Musical Lineup</h3>	
							<p class="custom-jakarta custom-font-style-2">
								Experience a diverse array of musical genres of talented artists.
							</p>
						</a>						
					</div>
					<!-- swiper-slide-->
					<div class="swiper-slide">
						<a href="#" class="highlights-item-3 text-decoration-none position-relative d-flex flex-column gap-20 px-30 px-lg-40 py-40 py-lg-50">
							<div class="highlights-icon-style-1">
								<svg width="58" height="68"><use xlink:href="#highlights-icon-2"></use></svg>
							</div>
							<h3 class="fw-extra-bold mb-0">Immersive Performances</h3>	
							<p class="custom-jakarta custom-font-style-2">
								Immerse yourself in captivating live performances that ignite the stage
							</p>
						</a>						
					</div>
					<!-- swiper-slide-->
					<div class="swiper-slide">
						<a href="#" class="highlights-item-3 text-decoration-none position-relative d-flex flex-column gap-20 px-30 px-lg-40 py-40 py-lg-50">
							<div class="highlights-icon-style-1">
								<svg width="60" height="68"><use xlink:href="#highlights-icon-3"></use></svg>
							</div>
							<h3 class="fw-extra-bold mb-0">Interactive Schedule</h3>	
							<p class="custom-jakarta custom-font-style-2">
								Easily plan your day with an interactive event schedule.
							</p>
						</a>						
					</div>
					<!-- swiper-slide-->
					<div class="swiper-slide">
						<a href="#" class="highlights-item-3 text-decoration-none position-relative d-flex flex-column gap-20 px-30 px-lg-40 py-40 py-lg-50">
							<div class="highlights-icon-style-1">
								<svg width="68" height="68"><use xlink:href="#highlights-icon-4"></use></svg>
							</div>
							<h3 class="fw-extra-bold mb-0">Culinary Delights</h3>	
							<p class="custom-jakarta custom-font-style-2">
								Indulge in a delightful culinary journey with a variety of food and beverage.
							</p>
						</a>						
					</div>
					<!-- swiper-slide-->
					<div class="swiper-slide">
						<a href="#" class="highlights-item-3 text-decoration-none position-relative d-flex flex-column gap-20 px-30 px-lg-40 py-40 py-lg-50">
							<div class="highlights-icon-style-1">
								<svg width="68" height="68"><use xlink:href="#highlights-icon-5"></use></svg>
							</div>
							<h3 class="fw-extra-bold mb-0">Engaging Activities</h3>	
							<p class="custom-jakarta custom-font-style-2">
								Beyond music, engage in a range of activities.
							</p>
						</a>						
					</div>
					<!-- swiper-slide-->
					<div class="swiper-slide">
						<a href="#" class="highlights-item-3 text-decoration-none position-relative d-flex flex-column gap-20 px-30 px-lg-40 py-40 py-lg-50">
							<div class="highlights-icon-style-1">
								<svg width="68" height="64"><use xlink:href="#highlights-icon-1"></use></svg>
							</div>
							<h3 class="fw-extra-bold mb-0">Diverse Musical Lineup</h3>	
							<p class="custom-jakarta custom-font-style-2">
								Experience a diverse array of musical genres of talented artists.
							</p>
						</a>						
					</div>
					<!-- swiper-slide-->
					<div class="swiper-slide">
						<a href="#" class="highlights-item-3 text-decoration-none position-relative d-flex flex-column gap-20 px-30 px-lg-40 py-40 py-lg-50">
							<div class="highlights-icon-style-1">
								<svg width="58" height="68"><use xlink:href="#highlights-icon-2"></use></svg>
							</div>
							<h3 class="fw-extra-bold mb-0">Immersive Performances</h3>	
							<p class="custom-jakarta custom-font-style-2">
								Immerse yourself in captivating live performances that ignite the stage
							</p>
						</a>						
					</div>
					<!-- swiper-slide-->
					<div class="swiper-slide">
						<a href="#" class="highlights-item-3 text-decoration-none position-relative d-flex flex-column gap-20 px-30 px-lg-40 py-40 py-lg-50">
							<div class="highlights-icon-style-1">
								<svg width="60" height="68"><use xlink:href="#highlights-icon-3"></use></svg>
							</div>
							<h3 class="fw-extra-bold mb-0">Interactive Schedule</h3>	
							<p class="custom-jakarta custom-font-style-2">
								Easily plan your day with an interactive event schedule.
							</p>
						</a>						
					</div>
					<!-- swiper-slide-->
					<div class="swiper-slide">
						<a href="#" class="highlights-item-3 text-decoration-none position-relative d-flex flex-column gap-20 px-30 px-lg-40 py-40 py-lg-50">
							<div class="highlights-icon-style-1">
								<svg width="68" height="68"><use xlink:href="#highlights-icon-4"></use></svg>
							</div>
							<h3 class="fw-extra-bold mb-0">Culinary Delights</h3>	
							<p class="custom-jakarta custom-font-style-2">
								Indulge in a delightful culinary journey with a variety of food and beverage.
							</p>
						</a>						
					</div>
					<!-- swiper-slide-->
					<div class="swiper-slide">
						<a href="#" class="highlights-item-3 text-decoration-none position-relative d-flex flex-column gap-20 px-30 px-lg-40 py-40 py-lg-50">
							<div class="highlights-icon-style-1">
								<svg width="68" height="68"><use xlink:href="#highlights-icon-5"></use></svg>
							</div>
							<h3 class="fw-extra-bold mb-0">Engaging Activities</h3>	
							<p class="custom-jakarta custom-font-style-2">
								Beyond music, engage in a range of activities.
							</p>
						</a>						
					</div>
					<!-- swiper-slide-->
				</div>
				<!-- swiper-wrapper-->
			</div>
			<!-- swiper-->			
		</div>
	</section>
	<!--Highlights Section ======================-->


	<!--Counter Section ======================-->
	<div class="counter-section pt-50 pt-lg-100 pt-xxl-130">
		<div class="container">
			<div class="event-counter event-counter-style-2">
				<div class="row row-cols-2 gy-lg-0 gy-4 justify-content-between">
					<div class="col-md-6 col-lg-3">
						<div class="d-flex align-items-center justify-content-center gap-1">
							<span class="odometer text-primary display-2" data-count-to=30></span>
							<h3 class="fw-extra-bold d-flex flex-column custom-jakarta"><span>Event</span><span>Artists</span></h3>
						</div>									
					</div>
					<div class="col-md-6 col-lg-3">
						<div class="d-flex align-items-center justify-content-center gap-1">
							<span class="odometer text-primary display-2" data-count-to=10></span>
							<h3 class="fw-extra-bold d-flex flex-column custom-jakarta"><span>Event</span><span>Stages</span></h3>
						</div>
					</div>
					<div class="col-md-6 col-lg-3">
						<div class="d-flex align-items-center justify-content-center gap-1">
							<span class="odometer text-primary display-2" data-count-to=13></span>
							<h3 class="fw-extra-bold d-flex flex-column custom-jakarta"><span>Days</span><span>Concert</span></h3>
						</div>
					</div>
					<div class="col-md-6 col-lg-3">
						<div class="d-flex align-items-center justify-content-center gap-1">
							<span class="odometer text-primary display-2" data-count-to=8></span>
							<h3 class="fw-extra-bold d-flex flex-column custom-jakarta"><span>Event</span><span>Sponsor</span></h3>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--Counter Section ======================-->


	<!--Sponsor Section ======================-->
	<section id="sponsors" class="sponsor-section sponsor-2 position-relative pt-50 pt-lg-100 pt-xxl-130">
				
		<div class="container">			
			<div class="row gy-4 gy-lg-0 align-items-lg-end justify-content-lg-between mb-40 mb-lg-70">
				<div class="col-lg-4">
					<div class="section-title">
						<span class="fs-3 straight-line-wrapper fw-semibold position-relative custom-roboto"><span class="straight-line"></span>The Power Behind Us</span>
						<h2 class="title display-3 fw-extra-bold mb-n2 text-opacity custom-roboto">Cadence</h2>
						<h3 class="sub-title display-3 fw-extra-bold primary-text-shadow custom-roboto">Contributors</h3>						
					</div>
					<!-- section-title -->
				</div>
				<div class="col-lg-5">
					<div class="highlights-text">
						<p class="custom-jakarta custom-font-style-2 text-lg-end mb-2">
							Elevating the Music. Our valued partners and sponsors play a pivotal role in bringing our vision to life. We orchestrate an unforgettable music celebration that resonates.
						</p>
					</div>
				</div>
			</div>
			<!-- row -->

			<div class="row gy-4 gy-lg-0 justify-content-lg-between mb-60 mb-lg-100">
				<div class="col-lg-3">
					<div class="sponsors-type">
						<h2 class="fw-extra-bold mb-0">Platinum Sponsors</h2>
					</div>
				</div>
				<!-- col-3 -->
				<div class="col-lg-8">
					<div class="row row-cols-2 row-cols-md-2 row-cols-lg-3 g-20 g-lg-30 align-items-center">
						<div class="col">
							<a href="#" class="sponsor-wrapper">
								<img src="assets/images/brand-1.png" class="img-fluid" alt="img">
							</a>
						</div>
						<div class="col">
							<a href="#" class="sponsor-wrapper">
								<img src="assets/images/brand-17.png" class="img-fluid" alt="img">
							</a>
						</div>
						<div class="col">
							<a href="#" class="sponsor-wrapper">
								<img src="assets/images/brand-3.png" class="img-fluid" alt="img">
							</a>
						</div>
						<div class="col">
							<a href="#" class="sponsor-wrapper">
								<img src="assets/images/brand-4.png" class="img-fluid" alt="img">
							</a>
						</div>
						<div class="col">
							<a href="#" class="sponsor-wrapper">
								<img src="assets/images/brand-5.png" class="img-fluid" alt="img">
							</a>
						</div>
					</div>
					<!-- row -->
				</div>
				<!-- col-8 -->
			</div>
			<!-- row -->

			<div class="row gy-4 gy-lg-0 justify-content-lg-between mb-60 mb-lg-100">
				<div class="col-lg-3">
					<div class="sponsors-type">
						<h2 class="fw-extra-bold mb-0">Gold Sponsors</h2>
					</div>
				</div>
				<!-- col-3 -->
				<div class="col-lg-8">
					<div class="row row-cols-2 row-cols-md-2 row-cols-lg-3 g-20 g-lg-30 align-items-center">
						<div class="col">
							<a href="#" class="sponsor-wrapper">
								<img src="assets/images/brand-18.png" class="img-fluid" alt="img">
							</a>
						</div>
						<div class="col">
							<a href="#"  class="sponsor-wrapper">
								<img src="assets/images/brand-7.png" class="img-fluid" alt="img">
							</a>
						</div>
						<div class="col">
							<a href="#"  class="sponsor-wrapper">
								<img src="assets/images/brand-19.png" class="img-fluid" alt="img">
							</a>
						</div>
						<div class="col">
							<a href="#"  class="sponsor-wrapper">
								<img src="assets/images/brand-20.png" class="img-fluid" alt="img">
							</a>
						</div>
						<div class="col">
							<a href="#"  class="sponsor-wrapper">
								<img src="assets/images/brand-21.png" class="img-fluid" alt="img">
							</a>
						</div>
						<div class="col">
							<a href="#"  class="sponsor-wrapper">
								<img src="assets/images/brand-22.png" class="img-fluid" alt="img">
							</a>
						</div>
						<div class="col">
							<a href="#"  class="sponsor-wrapper">
								<img src="assets/images/brand-23.png" class="img-fluid" alt="img">
							</a>
						</div>
					</div>
					<!-- row -->
				</div>
				<!-- col-8 -->
			</div>
			<!-- row -->

			<div class="row gy-4 gy-lg-0 justify-content-lg-between">
				<div class="col-lg-3">
					<div class="sponsors-type">
						<h2 class="fw-extra-bold mb-0">Silver Sponsors</h2>
					</div>
				</div>
				<!-- col-3 -->
				<div class="col-lg-8">
					<div class="row row-cols-2 row-cols-md-2 row-cols-lg-3 g-20 g-lg-30 align-items-center">
						<div class="col">
							<a href="#" class="sponsor-wrapper">
								<img src="assets/images/brand-13.png" class="img-fluid" alt="img">
							</a>
						</div>
						<div class="col">
							<a href="#" class="sponsor-wrapper">
								<img src="assets/images/brand-7.png" class="img-fluid" alt="img">
							</a>
						</div>
						<div class="col">
							<a href="#" class="sponsor-wrapper">
								<img src="assets/images/brand-24.png" class="img-fluid" alt="img">
							</a>
						</div>
						<div class="col">
							<a href="#" class="sponsor-wrapper">
								<img src="assets/images/brand-20.png" class="img-fluid" alt="img">
							</a>
						</div>
						<div class="col">
							<a href="#" class="sponsor-wrapper">
								<img src="assets/images/brand-21.png" class="img-fluid" alt="img">
							</a>
						</div>
						<div class="col">
							<a href="#" class="sponsor-wrapper">
								<img src="assets/images/brand-25.png" class="img-fluid" alt="img">
							</a>
						</div>
						<div class="col">
							<a href="#" class="sponsor-wrapper">
								<img src="assets/images/brand-26.png" class="img-fluid" alt="img">
							</a>
						</div>
					</div>
					<!-- row -->
				</div>
				<!-- col-8 -->
			</div>
			<!-- row -->					
		</div>
	</section>
	<!--Sponsor Section ======================-->


	<!--Ticket Section ======================-->
	<section class="ticket-section about-ticket pt-50 pt-lg-100 pt-xxl-130">
		<div class="container">
			<div class="ticket-wrapper position-relative parallax">
				<div class="ticket-inner">
					<h2 class="display-3 text-gradient no-stroke fw-extra-bold custom-jakarta mb-20">
						Early Bird Tickets Available!
					</h2>
					<h3 class="custom-jakarta ticket-text fw-semibold">Don't miss this extraordinary celebration of music and create memories that will last a lifetime.</h3>
					<a href="#ticket" class="btn btn-gradient d-inline-flex align-items-center gap-2 mt-4 mt-lg-40" aria-label="buttons"><span class="buttons-logo"><svg width="25" height="25"><use xlink:href="#buttons-logo"></use></svg></span>Get Ticket</a>
				</div>
			</div>							
		</div>

	</section>
	<!--Ticket Section ======================-->

			
	<!--Direction Section ======================-->
	<section id="direction" class="direction-section direction-1 position-relative pt-50 pt-lg-100 pt-xxl-130">				
		<div class="container">
			<div class="direction-wrapper">
				<div class="row justify-content-between align-items-lg-center gy-40 gy-lg-0">
					<div class="col-lg-5">
						<div class="direction-left-content">
							<h2 class="display-5 fw-extra-bold custom-jakarta">
								Get Direction to Harmonia
							</h2>
							<div class="d-flex flex-column flex-lg-row gap-5 justify-content-lg-between align-items-lg-center mt-30 mt-lg-50">
								<div class="direction-details">
									<span class="fs-3 straight-line-wrapper fw-semibold position-relative"><span class="straight-line"></span>Venue</span>
									<div class="mt-10 mt-lg-30">
										<h4 class="custom-jakarta fw-extra-bold">BASEMENT</h4>
										<h4 class="custom-jakarta fw-normal">135 W, 46nd Street, New York, USA</h4>
									</div>
								</div>
								<div class="direction-details">
									<span class="fs-3 straight-line-wrapper fw-semibold position-relative"><span class="straight-line"></span>Time</span>
									<div class="mt-10 mt-lg-30">												
										<h4 class="custom-jakarta fw-normal">25th - 28th December</h4>
										<h4 class="custom-jakarta fw-normal">Thursday - Saturday 22:30 - 07:00</h4>
									</div>
								</div>
							</div>
							<div class="mt-4 mt-lg-40">
								<a id="mapDirectionBtn" href="#" class="btn btn-gradient d-flex align-items-center justify-content-center custom-roboto gap-10 btn-map-direction"  data-bs-toggle="modal" data-bs-target="#RoutingMapModal">Get Direction <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/></svg></a>
							</div>
						</div>
						<!-- direction-left-content -->
					</div>
					<!-- col-5 -->

					<div class="col-lg-6">								
						<div class="map-image map-image-2 parallax position-relative">
							<span class="map-marker">
								<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt-fill" viewBox="0 0 16 16"><path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z"/>
								</svg>
							</span>								

							<div class="map-popup-content"><h3>Basement</h3><p>135W, 46nd Street, New York</p><a id="mapDirectionBtn" href="#" class="btn btn-primary btn-sm d-flex align-items-center justify-content-center custom-roboto gap-10 btn-map-direction"  data-bs-toggle="modal" data-bs-target="#RoutingMapModal">Get Direction <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/></svg></a></div>
						</div>

						<!-- Modal-Map -->
						<div class="modal modal-fullscreen routing-map-modal fade" id="RoutingMapModal" tabindex="-1" aria-labelledby="RoutingMapLabel" aria-hidden="true">
							<div class="modal-dialog modal-dialog-centered">
								<div class="modal-content">
									<div class="modal-header">
									<h1 class="modal-title fs-5" id="RoutingMapLabel">135 W, 46nd Street, New York</h1>
									<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
									</div>
									<div class="modal-body">
									<div id="RoutingMap"></div>
									</div>
								</div>
							</div>
						</div>
						<!-- Modal-Map -->
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--Direction Section ======================-->


	<!--Contact Section ======================-->
	<section class="contact-section contact-1 mt-50 mt-lg-100 mt-xxl-130">
		<div class="container">
			<div class="contact-wrapper pt-60 pt-lg-100 pt-xxl-120 pb-40 pb-lg-50 pb-xxl-70">
				<div class="row gy-lg-0 gy-50">
					<div class="col-lg-7">
						<span class="fs-3 straight-line-wrapper fw-semibold position-relative custom-heading-color-1"><span class="straight-line"></span>Contact Musicfest</span>
						<div class="mt-20 mt-md-30 mt-lg-40 mt-xxl-60">
							<a href="#" class="text-decoration-none display-6 custom-jakarta fw-extra-bold">contact@mail.com</a> 
							<div class="contact-details custom-heading-color-2 mt-10 mt-lg-30">
								<h3 class="custom-jakarta fw-bold mb-20">BASEMENT</h3>
								<h3 class="custom-jakarta fw-semibold mb-5">135 W, 46nd Street, New York, USA</h3>
								<h3 class="custom-jakarta fw-bold">+1 800 123 456 789</h3>
								<ul class="list-unstyled contact-icons d-flex align-items-center gap-20 gap-lg-30 mt-4 mt-lg-40 mb-0">
									<li><a href="#" aria-label="icons"><svg width="30" height="30"><use xlink:href="#social-share-icon-1"></use></svg></a></li>
									<li><a href="#" aria-label="icons"><svg width="30" height="30"><use xlink:href="#social-share-icon-2"></use></svg></a></li>
									<li><a href="#" aria-label="icons"><svg width="28" height="26"><use xlink:href="#social-share-icon-3"></use></svg></a></li>
									<li><a href="#" aria-label="icons"><svg width="30" height="31"><use xlink:href="#social-share-icon-4"></use></svg></a></li>
									<li><a href="#" aria-label="icons"><svg width="30" height="31"><use xlink:href="#social-share-icon-5"></use></svg></a></li>
								</ul>
								<!-- social-share-icons -->
							</div>									
						</div>
					</div>
					<!-- col-5 -->
					<div class="col-lg-4">
						<span class="fs-3 straight-line-wrapper fw-semibold position-relative"><span class="straight-line custom-heading-color-1"></span>Harmonia links</span>
						<div class="contact-details mt-20 mt-md-30 mt-lg-40 mt-xxl-60">
							<h3 class="display-6 custom-jakarta fw-semibold custom-heading-color-1 border-bottom border-3">About Us</h3>									
							<ul class="list-unstyled contact-lists d-flex flex-column gap-2 mt-20 mt-lg-30 mb-0">
								<li><a href="home-1.html#line-up" target="_blank" class="text-decoration-none custom-heading-color-2">Line Up</a></li>
								<li><a href="home-3.html#about" target="_blank" class="text-decoration-none custom-heading-color-2">Lates News</a></li>
								<li><a href="home-1.html#sponsor" target="_blank" class="text-decoration-none custom-heading-color-2">Become A Sponsor</a></li>
								<li><a href="#direction" target="_blank" class="text-decoration-none custom-heading-color-2">Venue</a></li>
								<li><a href="home-1.html#schedule" target="_blank" class="text-decoration-none custom-heading-color-2">Schedule</a></li>
								<li><a href="#direction" target="_blank" class="text-decoration-none custom-heading-color-2">Contact Us</a></li>
							</ul>
							<!-- social-share-icons -->
						</div>
					</div>
					<!-- col-4 -->
				</div>
			</div>
		</div>
	</section>
	<!--Contact Section ======================-->
			

</div>
