@{
    ViewData["Title"] = "Buy Ticket";
}

<style>
    table.summary tr.ticket_row td {
        padding: 10px 10px 0 10px;
        vertical-align: top;
    }

    table.summary tr td, table.summary tr th {
        padding: 10px;
    }

    fieldset {
        border: 1px solid;
        border-radius: 5px;
        padding: 12px 12px 12px 12px;
        margin-bottom: 15px;
        margin-left: 0px;
        margin-right: 0px;
    }

    .col.field_type_checkbox {
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .col.field_type_checkbox .input_wrapper {
        width: auto;
        margin: 1px 7px 0 0;
    }

    .label_wrapper {
        width: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 6px;
        max-width: none;
    }
</style>

<div class="main" data-bs-spy="scroll" data-bs-target="#navContentmenu" data-bs-root-margin="0px 0px -50%" data-bs-smooth-scroll="true">

    <!--Contact Section ======================-->
    <section class="contact-section contact-page pt-70 pt-lg-120 pt-xxl-150">
        <div class="container">
            <div class="row gy-20 gy-lg-0 align-items-lg-end justify-content-lg-between mb-3 mb-lg-5">
                <div class="col-lg-5">
                    <div class="section-title section-title-style-2">
                        <span class="fs-3 straight-line-wrapper fw-semibold position-relative"> <span class="straight-line"></span>Buy Ticket</span>
                        @* <h2 class="title display-3 fw-extra-bold mb-n2 text-opacity">Buy</h2>
                        <h3 class="sub-title display-3 fw-extra-bold primary-text-shadow">Ticket</h3> *@
                    </div>
                </div>
                <div class="col-lg-5" style="display:none">
                    <div class="highlights-text">
                        <p class="custom-roboto text-lg-end">
                            Immerse in mesmerizing performances,vibrant soundscapes,and interactive art at our music extravaganza. Experience a festival atmosphere like no other, where unforgettable moments.
                        </p>
                    </div>
                </div>
            </div>

            <!-- row -->
            <div class="contact-us-form">
                <div id="order_summary_heading" class="checkout_section">
                    <div class="heading_wrapper">
                        <h2>Your order</h2>
                    </div>
                    <table class="summary" role="presentation" cellpadding="0" cellspacing="0">
                        <thead>
                            <tr class="event_name">
                                <th colspan="4" style="border-bottom: 1px solid">
                                    <span class="name" notranslate="">JetLAG Festival 2025: Euphonia2</span>
                                    <span class="date"><span isolate="">Fri</span> <span isolate="">Jun</span> <var>20</var>, <var>2025</var> <var>1:00 PM</var> - <span isolate="">Sun</span> <span isolate="">Jun</span> <var>22</var>, <var>2025</var> EDT</span>
                                </th>
                            </tr>
                            <tr class="only_visible_to_screen_readers" style="display:none">
                                <th>Item name</th>
                                <th class="align_right">Item price</th>
                                <th>Quantity</th>
                                <th class="align_right">Subtotal</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="ticket_row ticket_row--no-items" style="display:none">
                                <td class="ticket_row-name">There are no items in your basket</td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr class="ticket_row" data-related-item="quantity_4558522" data-item-type="TICKET">
                                <td class="ticket_row-name" notranslate="">
                                    Tier II Tickets. On sale until March 8th or tickets sold out - Adult Ticket
                                </td>

                                <td class="align_right ticket_row-price">
                                    <span notranslate="">$180.00</span>
                                    <small>+&nbsp;$5.95</small>
                                </td>
                                <td class="ticket_row-quantity" style="padding-left: 0;" notranslate="">
                                    ×&nbsp;1
                                </td>
                                <td class="align_right ticket_row-subtotal" notranslate="">$185.95</td>
                            </tr>
                            <tr class="ticket_row" data-related-item="quantity_4558523" data-item-type="TICKET">
                                <td class="ticket_row-name" notranslate="">
                                    Tier II Tickets. On sale until March 8th or tickets sold out - Student Ticket (Age 15-21)
                                </td>

                                <td class="align_right ticket_row-price">
                                    <span notranslate="">$125.00</span>
                                    <small>+&nbsp;$4.25</small>
                                </td>
                                <td class="ticket_row-quantity" style="padding-left: 0;" notranslate="">
                                    ×&nbsp;2
                                </td>
                                <td class="align_right ticket_row-subtotal" notranslate="">$258.50</td>
                            </tr>
                            <tr class="ticket_row" data-related-item="quantity_4558546" data-item-type="TICKET">
                                <td class="ticket_row-name" notranslate="">
                                    Child Ticket - Child Ticket (Age 5- 14)
                                </td>

                                <td class="align_right ticket_row-price">
                                    <span notranslate="">$25.00</span>
                                    <small>+&nbsp;$1.75</small>
                                </td>
                                <td class="ticket_row-quantity" style="padding-left: 0;" notranslate="">
                                    ×&nbsp;1
                                </td>
                                <td class="align_right ticket_row-subtotal" notranslate="">$26.75</td>
                            </tr>
                            <tr class="ticket_row" data-related-item="donationAmount" data-item-type="DONATION">
                                <td class="ticket_row-name" notranslate="">
                                    Good Music for Good Causes (OPTIONAL)
                                </td>

                                <td class="align_right ticket_row-price">
                                    <span notranslate="">$25.00</span>
                                </td>
                                <td class="ticket_row-quantity" style="padding-left: 0;" notranslate="">
                                    ×&nbsp;1
                                </td>
                                <td class="align_right ticket_row-subtotal" notranslate="">$25.00</td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr class="total" style="border-top: 1px solid">
                                <td colspan="3">Order total</td>
                                <td id="table-order-total-amount" class="align_right" notranslate="">$496.20</td>
                            </tr>
                        </tfoot>
                    </table>

                </div>

                <div class="row" style="margin-top:20px">
                    <h2>
                        Please complete the form below
                    </h2>
                </div>
                <form action="/buy">
                    <div class="row gx-5 gy-4 gy-lg-5">
                        <div class="col-lg-6">
                            <label>
                                First and Last Name
                            </label>
                            <input type="text" class="form-control" id="lastName">
                        </div>

                        <div class="col-lg-6">
                        </div>

                        <div class="col-lg-3">
                            <label>
                                Email
                            </label>
                            <input type="text" class="form-control" id="lastName">
                        </div>

                        <div class="col-lg-3">
                            <label>
                                Repeat Email
                            </label>
                            <input type="text" class="form-control" id="lastName">
                        </div>

                        <div class="col-lg-3">
                            <label>
                                Mobile Phone Number
                            </label>
                            <input type="text" class="form-control" id="lastName">
                        </div>

                        <div class="col-lg-3">
                            <label>
                                Zip Code
                            </label>
                            <input type="text" class="form-control" id="lastName">
                        </div>

                        <div class="col-lg-6">
                            <label>
                                Address Line 1
                            </label>
                            <input type="text" class="form-control" id="lastName">
                        </div>

                        <div class="col-lg-3">
                            <label>
                                City
                            </label>
                            <input type="text" class="form-control" id="lastName">
                        </div>

                        <div class="col-lg-3">
                            <label>
                                State
                            </label>
                            <input type="text" class="form-control" id="lastName">
                        </div>

                        <div class="col-lg-12">
                            <fieldset id="fieldset-ticket_custom_elements_108472122_1" legend_notranslate="1">
                                <legend notranslate="">
                                    Tier II Tickets. On sale until March 8th or tickets sold out - Adult Ticket 1
                                </legend>
                                <div>
                                    <label>
                                        Attendee First and Last Name
                                    </label>
                                    <input type="text" class="form-control" id="lastName">
                                </div>
                                <div class="col field_type_checkbox">
                                    <div class="label_wrapper" id="customFormElement_1056225_108472124_1-label">
                                        <label for="customFormElement_1056225_108472124_1" class="required ">I agree to the terms and conditions.</label>
                                        <a aria-label="Reveal terms and conditions" role="button" aria-expanded="false" aria-controls="customFormElement_1056225_108472124_1-terms" 
                                        id="customFormElement_1056225_108472124_1-toggle" href="#customFormElement_1056225_108472124_1-terms" class="terms_document_button">
                                        <span aria-hidden="true" class="fa fa-file-text-o"></span></a>
                                    </div>
                                    <div class="input_wrapper" id="customFormElement_1056225_108472124_1-element">
                                        <input type="checkbox" />
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                </form>
            </div>
            <!-- contact-us-form -->
        </div>
        <!-- container -->
    </section>
    <!--Contact Section ======================-->

</div>
