@{
    ViewData["Title"] = "Contact";
}

<div class="main"  data-bs-spy="scroll" data-bs-target="#navContentmenu" data-bs-root-margin="0px 0px -50%" data-bs-smooth-scroll="true">

	<!--Banner Section ======================-->
	<section class="banner-section banner-1 banner-2 position-relative parallax">		
		<div class="container">
			<div class="banner-wrapper d-flex gap-20 gap-lg-40 justify-content-center align-items-lg-center flex-column">
				<h2 class="banner-heading display-3 fw-extra-bold custom-jakarta mb-0">Contact us</h2>
				<nav aria-label="breadcrumb">
					<ol class="blog-breadcrumb breadcrumb">
						<li class="breadcrumb-item"><a href="home-1.html">Home</a></li>
						<li class="breadcrumb-item active" aria-current="page">Contact us</li>
					</ol>
				</nav>
			</div>
		</div>								
	</section>
	<!--Banner Section ======================-->


	<!--About Section ======================-->
	<section class="about-section about-1 pt-50 pt-lg-100 pt-xxl-150">
		<div class="container">
			<div class="row gy-50 gy-lg-0 gx-80 justify-content-lg-between align-items-lg-center">
				<div class="col-lg-6">
					<div>
						<div class="section-title section-title-style-2 mb-4 mb-lg-30 mb-xxl-40">	
							<h3 class="sub-title display-3 fw-extra-bold primary-text-shadow custom-roboto">Eventiva</h3>
						</div>
						<!-- section-title -->
						<h1 class="display-5 custom-jakarta fw-extra-bold mb-0">
							Where music and magic unite for unforgettable experiences
						</h1>								
						<a href="#ticket" class="btn btn-gradient d-inline-flex align-items-center gap-2 mt-4 mt-lg-40 mt-xxl-60" aria-label="buttons"><span class="buttons-logo"><svg width="25" height="25"><use xlink:href="#buttons-logo"></use></svg></span>Get Ticket</a>
					</div>					
				</div>
				<!-- col-5 -->
				<div class="col-lg-6">
					<div class="about-content-wrapper position-relative">
						<div class="about-image-1 position-relative">
							<div class="about-image-wrapper">
								<img src="assets/images/home-1/about-image-1.jpg" class="img-fluid" alt="img">
							</div>
							<div class="video-popup video-popup-center position-absolute">
								<div class="circle-wrapper">
									<div class="circle-bg"></div>
									<a href="http://www.youtube.com/watch?v=0O2aH4XLbto" class="inner-circle video-icon video-popup-link">
										<span class=""><svg width="30" height="30"><use xlink:href="#video-icon"></use></svg></span>	
									</a>																	
									<div class="rotate-text2 text-uppercase">
										<p>Where Melodies Unite Hearts Harmonia-</p>	 
									</div>
								</div>
							</div>
									
						</div>
						<div class="about-image-2">									
						</div>
						<div class="ellipse-image-1">
							<img src="assets/images/home-1/ellipse-1.png" class="img-fluid" alt="img">
						</div>
					</div>
					<!-- about-content-wrapper -->
				</div>
			</div>					
		</div>
	</section>
	<!--About Section ======================-->


	<!--Contact Section ======================-->
	<section class="contact-section contact-page pt-70 pt-lg-120 pt-xxl-150">
		<div class="container">
			<div class="row gy-20 gy-lg-0 align-items-lg-end justify-content-lg-between mb-30 mb-lg-70">
				<div class="col-lg-5">
					<div class="section-title section-title-style-2">
						<span class="fs-3 straight-line-wrapper fw-semibold position-relative"> <span class="straight-line"></span>Contact</span>
						<h2 class="title display-3 fw-extra-bold mb-n2 text-opacity">Music</h2>
						<h3 class="sub-title display-3 fw-extra-bold primary-text-shadow">Get In Touch</h3>						
					</div>
					<!-- section-title -->
				</div>
				<div class="col-lg-5">
					<div class="highlights-text">
						<p class="custom-roboto text-lg-end">
							Immerse in mesmerizing performances,vibrant soundscapes,and interactive art at our music extravaganza. Experience a festival atmosphere like no other, where unforgettable moments.
						</p>
					</div>
				</div>
			</div>
			<!-- row -->
			<div class="contact-us-form">
				<form action="#">						
					<div class="row gx-5 gy-4 gy-lg-5">		
						<div class="col-lg-6">
							<input type="text" class="form-control" id="firstName" placeholder="First Name *" required>							  
						</div>
		
						<div class="col-lg-6">												
							<input type="text" class="form-control" id="lastName" placeholder="Last Name *">									  
						</div>
													
						<div class="col">												
							<input type="email" class="form-control" placeholder="Email" required>																	
						</div>
									
						<div class="col-12">											
							<textarea class="form-control" placeholder="Your Comment" id="form-textarea" style="height: 100px"></textarea>											
						</div>

						<div class="col-12">									
							<button type="submit" class="btn btn-gradient d-inline-flex" aria-label="buttons">Submit</button>
						</div>
					</div>
					<!-- row -->
				</form>
			</div>
			<!-- contact-us-form -->					
		</div>
		<!-- container -->
	</section>
	<!--Contact Section ======================-->			


	<!--Ticket Section ======================-->
	<section class="ticket-section about-ticket pt-60 pt-lg-100 pt-xxl-130">
		<div class="container">
			<div class="ticket-wrapper position-relative parallax">
				<div class="ticket-inner">
					<h2 class="display-3 text-gradient no-stroke fw-extra-bold custom-jakarta mb-20">
						Early Bird Tickets Available!
					</h2>
					<h3 class="custom-jakarta ticket-text fw-semibold">Don't miss this extraordinary celebration of music and create memories that will last a lifetime.</h3>
					<a href="#ticket" class="btn btn-gradient d-inline-flex align-items-center gap-2 mt-4 mt-lg-40" aria-label="buttons"><span class="buttons-logo"><svg width="25" height="25"><use xlink:href="#buttons-logo"></use></svg></span>Get Ticket</a>
				</div>
			</div>							
		</div>

	</section>
	<!--Ticket Section ======================-->

			
	<!--Direction Section ======================-->
	<section id="direction" class="direction-section direction-1 position-relative pt-50 pt-lg-100 pt-xxl-130 pb-20 pb-lg-50">				
		<div class="container">
			<div class="direction-wrapper">
				<div class="row justify-content-between align-items-lg-center gy-40 gy-lg-0">
					<div class="col-lg-5">
						<div class="direction-left-content">
							<h2 class="display-5 fw-extra-bold custom-jakarta">
								Get Direction to Harmonia
							</h2>
							<div class="d-flex flex-column flex-lg-row gap-5 justify-content-lg-between align-items-lg-center mt-30 mt-lg-50">
								<div class="direction-details">
									<span class="fs-3 straight-line-wrapper fw-semibold position-relative"><span class="straight-line"></span>Venue</span>
									<div class="mt-10 mt-lg-30">
										<h4 class="custom-jakarta fw-extra-bold">BASEMENT</h4>
										<h4 class="custom-jakarta fw-normal">135 W, 46nd Street, New York, USA</h4>
									</div>
								</div>
								<div class="direction-details">
									<span class="fs-3 straight-line-wrapper fw-semibold position-relative"><span class="straight-line"></span>Time</span>
									<div class="mt-10 mt-lg-30">												
										<h4 class="custom-jakarta fw-normal">25th - 28th December</h4>
										<h4 class="custom-jakarta fw-normal">Thursday - Saturday 22:30 - 07:00</h4>
									</div>
								</div>
							</div>
							<div class="mt-4 mt-lg-40">
								<a id="mapDirectionBtn" href="#" class="btn btn-gradient d-flex align-items-center justify-content-center custom-roboto gap-10 btn-map-direction"  data-bs-toggle="modal" data-bs-target="#RoutingMapModal">Get Direction <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/></svg></a>
							</div>
						</div>
						<!-- direction-left-content -->
					</div>
					<!-- col-5 -->

					<div class="col-lg-6">								
						<div class="map-image map-image-2 parallax position-relative">
							<span class="map-marker">
								<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt-fill" viewBox="0 0 16 16"><path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z"/>
								</svg>
							</span>								

							<div class="map-popup-content"><h3>Basement</h3><p>135W, 46nd Street, New York</p><a id="mapDirectionBtn" href="#" class="btn btn-primary btn-sm d-flex align-items-center justify-content-center custom-roboto gap-10 btn-map-direction"  data-bs-toggle="modal" data-bs-target="#RoutingMapModal">Get Direction <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/></svg></a></div>
						</div>

						<!-- Modal-Map -->
						<div class="modal modal-fullscreen routing-map-modal fade" id="RoutingMapModal" tabindex="-1" aria-labelledby="RoutingMapLabel" aria-hidden="true">
							<div class="modal-dialog modal-dialog-centered">
								<div class="modal-content">
									<div class="modal-header">
									<h1 class="modal-title fs-5" id="RoutingMapLabel">135 W, 46nd Street, New York</h1>
									<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
									</div>
									<div class="modal-body">
									<div id="RoutingMap"></div>
									</div>
								</div>
							</div>
						</div>
						<!-- Modal-Map -->
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--Direction Section ======================-->

</div>
