@{
    ViewData["Title"] = "Home Page";
}

<div class="main" data-bs-spy="scroll" data-bs-target="#navContentmenu" data-bs-root-margin="0px 0px -50%" data-bs-smooth-scroll="true">
    DDDDDDDDDDD
</div>
