@{
	Layout = null;
}

<html>

<!--SCRIPT-->
// Included in the head element of your website
<script type="text/javascript" src="https://secure.myhelcim.com/js/version2.js"></script>


<!--FORM-->
// Included in the body element of your website
<form name="helcimForm" id="helcimForm" action="your-checkout-page.php" method="POST">

	<!--RESULTS-->
	<div id="helcimResults"></div>

	<!--SETTINGS-->
	<input type="hidden" id="token" value="f5bad81720838e432e0e8b">

	<!--CARD-INFORMATION-->
	<input type="text" id="cardNumber" value="5413330089099130">
	<!--<input type="text" id="cardExpiry" value="0128">-->
	<input type="text" id="cardExpiryMonth" value="01">
	<input type="text" id="cardExpiryYear" value="28">
	<input type="text" id="cardCVV" value="100">

	<!--AVS- INFORMATION-->
	<input type="text" id="cardHolderName" value="Jane Smith">
	<input type="text" id="cardHolderAddress" value="123 Street South">
	<input type="text" id="cardHolderPostalCode" value="90210">

	<input type="hidden" id="amountHash" value="dffbd50b8c28ed455525f619fad22dba80bf3ec544e0e220dab788a8d0762a69">



	<!--OPTIONAL-AMOUNT-->
	Amount: <input type="text" id="amount" value="2500.00"><br />

	<!--BUTTON-->
	<input type="button" id="buttonProcess" value="Process" onclick="javascript:helcimProcess();">

</form>

</html>