@{
    ViewData["Title"] = "Home Page";
}

<div class="main" data-bs-spy="scroll" data-bs-target="#navContentmenu" data-bs-root-margin="0px 0px -50%" data-bs-smooth-scroll="true">

	<!--Hero Section ======================-->
	<section class="hero-section hero-5">
		<div class="container-fluid">
			<div class="hero-wrapper box-hero mx-auto position-relative parallax">
				<div class="container">
					<div class="hero-inner-text position-relative">
						<img src="/assets/images/musicfest-1.png" class="musicfest-image mb-10" alt="img">
						<h1 class="soundscapes no-stroke fs-120 fw-extra-bold mt-2 mb-0">Unveil the Magic of Soundscapes</h1>								
						<div class="mb-30 mb-xxl-50 hero-brand-images">
							<h3 class="fst-italic fw-semibold mb-3 mb-lg-20">Powered by</h3>
							<div class="d-flex flex-wrap align-items-center gap-20 gap-md-5 gap-lg-50">
								<a href="#" aria-label="brand-image">
									<img src="/assets/images/hero-brand-1.png" class="img-fluid" alt="img">
								</a>
								<a href="#" aria-label="brand-image">
									<img src="/assets/images/hero-brand-2.png" class="img-fluid" alt="img">
								</a>
								<a href="#" aria-label="brand-image">
									<img src="/assets/images/hero-brand-3.png" class="img-fluid" alt="img">
								</a>										
							</div>
						</div>								
					</div>
				</div>
				<div class="event-info custom-inner-bg">
					<div class="event-inner">
						<div class="row align-items-center justify-content-between gy-xl-0 gy-4">
							<div class="col-md-4 col-xl-3 col-lg-4">
								<div class="event-content">
									<h2>25th Dec 2023</h2>
									<h4>22:30 - 07:00</h4>
								</div>
							</div>
							<div class="col-md-5 col-xl-4 col-lg-5">
								<div class="event-content ms-xxl-5">
									<h2>BASEMENT</h2>
									<h4>135 W, 46nd Street, New York</h4>
								</div>
							</div>
							<div class="col-md-3 col-xl-2 col-lg-3">
								<div class="ms-xxl-30">
									<span class="event-odometer-heading fs-2 odometer" data-count-to=352></span>
									<h4>Attending</h4>
								</div>
							</div>
							<div class="col-md-3 col-xxl-2 col-xl-3 col-lg-3">
								<div>
									<a href="#schedule" class="btn btn-primary d-inline-flex align-items-center" aria-label="buttons"><span class="contact-plus-icon"><svg width="38" height="30"><use xlink:href="#contact-plus-icon"></use></svg></span> Interested</a>
								</div>
							</div>
						</div>
					</div>					
				</div>
			</div>
		</div>
	</section>
	<!--Hero Section ======================-->


	<!--Countdown Section ======================-->
	<div class="countdown-section pt-50 pt-lg-70 pt-xxl-80 position-relative">
		<div class="container">
			<!--CountDown Section ======================-->			
			<div class="countdown">
				<div class="row row-cols-2 row-cols-lg-3 row-cols-xl-4 justify-content-between align-items-center">
					<div class="col">
						<div class="countdown-item">
							<span class="countdown-number primary-text-shadow" id="days">00</span>
							<span class="countdown-label text-opacity">Days</span>
						</div>
					</div>
					<div class="col">
						<div class="countdown-item">
							<span class="countdown-number primary-text-shadow" id="hours">00</span>
							<span class="countdown-label text-opacity">Hours</span>
						</div>
					</div>
					<div class="col">
						<div class="countdown-item">
							<span class="countdown-number primary-text-shadow" id="minutes">00</span>
							<span class="countdown-label text-opacity">Minutes</span>
						</div>
					</div>
					<div class="col">
						<div class="countdown-item">
							<span class="countdown-number primary-text-shadow" id="seconds">00</span>
							<span class="countdown-label text-opacity">Seconds</span>
						</div>
					</div>
				</div>
			</div>	
		</div>
	</div>
	<!--Countdown Section ======================-->


	<!--Tickets Section ======================-->
	<section id="ticket" class="ticket-section ticket-1 py-50 pb-lg-100 pt-lg-80 pb-xxl-130 position-relative parallax">
		<div class="container">
					
			<div class="section-title section-title-style-2 mb-30 mb-lg-40 mb-xxl-50">
				<span class="fs-3 straight-line-wrapper fw-semibold position-relative"> <span class="straight-line"></span>Ticket</span>						
				<h2 class="title display-3 fw-extra-bold d-flex flex-column">
					<span class="mb-n2 text-opacity">Harmonia</span>
					<span class="sub-title fw-extra-bold primary-text-shadow custom-roboto">Admissions</span> 
				</h2>
			</div>
			<!-- section-title -->
			<div class="ticket-content">
				<div class="d-flex flex-column flex-xl-row gap-50 gap-xl-30 align-items-xl-center">
					<div class="ticket-content-1">								
						<div class="ticket-form-wrapper custom-inner-bg">
							<div class="ticket-form ticket-form-1 form-check">
								<input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
								<label class="form-check-label d-flex align-items-center justify-content-between" for="exampleRadios1">
								<span class="text-opacity">General Admission</span><span>$40</span>
								</label>								
							</div>
							<div class="ticket-form ticket-form-2 form-check">
								<input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
								<label class="form-check-label d-flex align-items-center justify-content-between" for="exampleRadios2">
								<span class="text-opacity">VIP Experience</span><span>$100</span>
								</label>								
							</div>
							<div class="ticket-form ticket-form-3 form-check">
								<input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios3" value="option3">
								<label class="form-check-label d-flex align-items-center justify-content-between" for="exampleRadios3">
								<span class="text-opacity">Student Discount</span><span>$25</span>
								</label>								
							</div>
						</div>
						<!-- ticket-form-wrapper -->							
								
						<p class="extra-small fw-semibold d-flex justify-content-lg-end">Sales close: Sat, Jul 22, 8:00 AM (EST).</p>
						<div class="d-flex gap-3 justify-content-between">							
							<div class="ticket-amounts d-flex align-items-center gap-0 gap-lg-3">									
								<span class="ticket-icon dash-icon"><svg width="16" height="16"><use xlink:href="#dash-icon"></use></svg></span>
								<span class="input-values"><input type="text" name="input-value" value="1" class="input-number"></span>
								<span class="ticket-icon plus-icon"><svg width="16" height="16"><use xlink:href="#plus-icon"></use></svg></span>
							</div>						
							<div class="text-lg-end">
								<a href="#" class="btn btn-outline-primary d-inline-flex align-items-center gap-2" aria-label="buttons"><span class="buttons-logo"><svg width="25" height="25"><use xlink:href="#buttons-logo"></use></svg></span> Buy Ticket</a>
							</div>	
						</div>
					</div>	
					<!-- ticket-content-1 -->
							
							
					<div class="ticket-content-2 position-relative parallax">
						<div class="ticket-content-2-inner">									
							<div class="swiper ticket-swiper">
								<div class="swiper-wrapper"> 
									<div class="swiper-slide">
										<div class="p-4 pe-20">													
											<h2 class="mb-0 d-flex flex-wrap flex-sm-nowrap gap-2 gap-lg-3 align-items-center text-white">
												<span class="fs-100 fw-extra-bold">248</span>
												<span class="fw-extra-bold fs-1">Seats Available</span>
											</h2>
											<a href="#" class="ticket-arrow arrow-up-right"><svg width="32" height="32"><use xlink:href="#arrow-up-right"></use></svg></a>
											<div class="progress mt-50">
												<div class="progress-bar" style="width: 73%">
												</div>
											</div>
										</div>
									</div>
									<!-- swiper-slide -->
									<div class="swiper-slide">
										<div class="p-4 p-md-30">
											<div class="d-flex flex-column flex-md-row align-items-md-center justify-content-between justify-content-lg-start gap-lg-20 gap-2 mb-5 mb-lg-60">
												<div class="ticket-images">
													<img class="ticket-icon-1" src="/assets/images/home-1/ticket-icon-1.png" alt="img">
													<img class="ticket-icon-2 ms-n3" src="/assets/images/home-1/ticket-icon-2.png" alt="img">
													<img class="ticket-icon-3 ms-n3" src="/assets/images/home-1/ticket-icon-3.png" alt="img">
												</div>
												<h4 class="fw-normal text-white mb-0">+<span class="odometer mt-n1" data-count-to=352></span> Attending</h4>	
											</div>
											<h2 class="display-6 fw-extra-bold text-uppercase text-white mb-0"><span>Secure Your Spot Now</span></h2>
											<a href="#" class="ticket-arrow arrow-up-right"><svg width="32" height="32"><use xlink:href="#arrow-up-right"></use></svg></a>
										</div>
									</div>
									<!-- swiper-slide -->
											
								</div>
								<!-- swiper-wrapper -->
								<div class="ticket-swiper-pagination"></div>	
							</div>
							<!-- ticket-swiper -->	
						</div>	
						<!-- ticket-content-2-inner  -->
					</div>
					<!-- ticket-content-2 -->

					<div class="ticket-content-3 d-flex flex-xl-column gap-3 gap-lg-4">
						<div class="brand custom-inner-bg">
							<h2 class="display-6 fw-extra-bold mb-0"><span class="odometer" data-count-to=20></span>+</h2>
							<h2 class="fs-1 fw-light mb-0 text-opacity">Brands</h2>
						</div>
						<div class="brand custom-inner-bg">
							<h2 class="display-6 fw-extra-bold mb-0"><span class="odometer" data-count-to=100></span>+</h2>
							<h2 class="fs-1 fw-light mb-0 text-opacity">Artworks</h2>
						</div>
					</div>
					<!-- ticket-content-3 -->
							
				</div>
			</div>
			<!-- ticket-content -->
		</div>
	</section>
	<!--Tickets Section ======================-->

			
	<!--About Section ======================-->
	<section class="about-section about-1 pb-50 pb-lg-80 pb-xxl-100">
		<div class="container">
			<div class="row gy-50 gy-lg-0 gx-80 justify-content-lg-between">
				<div class="col-lg-5">
					<div>
						<div class="section-title section-title-style-2 mb-4 mb-lg-30 mb-xxl-40">
							<span class="fs-3 straight-line-wrapper fw-semibold position-relative"> <span class="straight-line"></span>About The Event</span>
							<h2 class="title display-3 fw-extra-bold mb-n2 d-flex flex-column">
								<span class="mb-n2 text-opacity">Soulful</span>
								<span class="sub-title fw-extra-bold primary-text-shadow custom-roboto">Symphony</span> 
							</h2>
						</div>
						<!-- section-title -->
						<p class="mb-4 mb-lg-30">
							Experience Harmonia: where melodies transcend boundaries. Immerse in captivating performances that ignite the stage. Unleash your musical senses and embrace rhythmic bliss. 
						</p>
						<p class="mb-0">				 
							Don't miss this extraordinary celebration of music and create memories that will last a lifetime.
						</p>
						<a href="#ticket" class="btn btn-gradient d-inline-flex align-items-center gap-2 mt-4 mt-lg-30 mt-xxl-40" aria-label="buttons"><span class="buttons-logo"><svg width="25" height="25"><use xlink:href="#buttons-logo"></use></svg></span>Get Ticket</a>
					</div>					
				</div>
				<!-- col-5 -->
				<div class="col-lg-6">
					<div class="about-content-wrapper position-relative">
						<div class="about-image-1 position-relative">
							<div class="about-image-wrapper">
								<img src="/assets/images/home-1/about-image-1.jpg" class="img-fluid" alt="img">
							</div>
							<a href="http://www.youtube.com/watch?v=0O2aH4XLbto" class="video-popup video-popup-center position-absolute video-popup-link">
								<div class="circle-wrapper">
									<div class="circle-bg"></div> 
									<span class="inner-circle video-icon">
										<span class=""><svg width="30" height="30"><use xlink:href="#video-icon"></use></svg></span>	
									</span>																	
									<div class="rotate-text2 text-uppercase">
										<p>Where Melodies Unite Hearts Harmonia-</p>	 
									</div>
								</div>
							</a>
						</div>
						<div class="about-image-2">									
						</div>
						<div class="ellipse-image-1">
							<img src="/assets/images/home-1/ellipse-1.png" class="img-fluid" alt="img">
						</div>
					</div>
					<!-- about-content-wrapper -->
				</div>
			</div>					
		</div>
	</section>
	<!--About Section ======================-->


	<!--LineUp Section ======================-->
	<section id="line-up" class="lineup-section lineup-1 pt-60 pt-lg-0 mb-20 mb-lg-30 mb-xxl-40">		
		<div class="lineup-contents custom-inner-bg bg-lg py-30 py-lg-50 position-relative">
			<div class="container">
				<div class="row gx-60 gx-xxl-80 gy-30">
					<div class="col-lg-7">
						<div class="swiper-custom-progress position-relative">
							<div class="swiper lineup-swiper">
								<div class="swiper-wrapper"> 
									<div class="swiper-slide">
										<div class="lineup-image-wrapper position-relative">
											<div class="lineup-image">
												<img src="/assets/images/home-1/lineup-image-1.jpg" class="img-fluid" alt="lineup-image"> 
											</div>		
											<div class="lineup-image-hover">
												<p class="author-name">Luna Echo</p>
												<div class="line-up-hover-content">
													<h5 class="fw-medium mb-20">Genere : <span class="text-uppercase">pop</span></h5>
													<ul class="list-unstyled line-up-icons d-flex align-items-center gap-3 gap-lg-20 mb-0">
														<li><a href="#" class="facebook-icon"><svg width="20" height="20"><use xlink:href="#facebook-icon"></use></svg></a></li>
														<li><a href="#" class="instagram-icon"><svg width="20" height="20"><use xlink:href="#instagram-icon"></use></svg></a></li>
														<li><a href="#" class="youtube-icon"><svg width="20" height="20"><use xlink:href="#youtube-icon"></use></svg></a></li>
														<li><a href="#" class="spotify-icon"><svg width="20" height="20"><use xlink:href="#spotify-icon"></use></svg></a></li>
													</ul>
												</div>
											</div>
											<!-- lineup-image-hover -->
										</div>		
										<!-- lineup-image-wrapper -->
									</div>
									<!-- swiper-slide-->
									<div class="swiper-slide">
										<div class="lineup-image-wrapper position-relative">
											<div class="lineup-image">
												<img src="/assets/images/home-1/lineup-image-2.jpg" class="img-fluid" alt="lineup-image">
											</div>												
											<div class="lineup-image-hover">
												<p class="author-name">Orion Ryder</p>
												<div class="line-up-hover-content">
													<h5 class="fw-medium mb-20">Genere : <span class="text-uppercase">rock</span></h5>
													<ul class="list-unstyled line-up-icons d-flex align-items-center gap-3 gap-lg-20 mb-0">
														<li><a href="#" class="facebook-icon"><svg width="20" height="20"><use xlink:href="#facebook-icon"></use></svg></a></li>
														<li><a href="#" class="instagram-icon"><svg width="20" height="20"><use xlink:href="#instagram-icon"></use></svg></a></li>
														<li><a href="#" class="youtube-icon"><svg width="20" height="20"><use xlink:href="#youtube-icon"></use></svg></a></li>
														<li><a href="#" class="spotify-icon"><svg width="20" height="20"><use xlink:href="#spotify-icon"></use></svg></a></li>
													</ul>
												</div>
											</div>
											<!-- lineup-image-hover -->
										</div>						
										<!-- lineup-image-wrapper -->																	
									</div>
									<!-- swiper-slide-->
									<div class="swiper-slide">
										<div class="lineup-image-wrapper position-relative">
											<div class="lineup-image">
												<img src="/assets/images/home-1/lineup-image-3.jpg" class="img-fluid" alt="lineup-image">
											</div>
											<div class="lineup-image-hover">
												<p class="author-name">Electra Nova</p>
												<div class="line-up-hover-content">
													<h5 class="fw-medium mb-20">Genere : <span class="text-uppercase">hip-hop</span></h5>
													<ul class="list-unstyled line-up-icons d-flex align-items-center gap-3 gap-lg-20 mb-0">
														<li><a href="#" class="facebook-icon"><svg width="20" height="20"><use xlink:href="#facebook-icon"></use></svg></a></li>
														<li><a href="#" class="instagram-icon"><svg width="20" height="20"><use xlink:href="#instagram-icon"></use></svg></a></li>
														<li><a href="#" class="youtube-icon"><svg width="20" height="20"><use xlink:href="#youtube-icon"></use></svg></a></li>
														<li><a href="#" class="spotify-icon"><svg width="20" height="20"><use xlink:href="#spotify-icon"></use></svg></a></li>
													</ul>
												</div>
											</div>
											<!-- lineup-image-hover -->
										</div>					
										<!-- lineup-image-wrapper -->														
									</div> 
									<!-- swiper-slide-->
									<div class="swiper-slide">
										<div class="lineup-image-wrapper position-relative">
											<div class="lineup-image">
												<img src="/assets/images/home-1/lineup-image-1.jpg" class="img-fluid" alt="lineup-image">
											</div>
											<div class="lineup-image-hover">
												<p class="author-name">Luna Echo</p>
												<div class="line-up-hover-content">
													<h5 class="fw-medium mb-20">Genere : <span class="text-uppercase">pop</span></h5>
													<ul class="list-unstyled line-up-icons d-flex align-items-center gap-3 gap-lg-20 mb-0">
														<li><a href="#" class="facebook-icon"><svg width="20" height="20"><use xlink:href="#facebook-icon"></use></svg></a></li>
														<li><a href="#" class="instagram-icon"><svg width="20" height="20"><use xlink:href="#instagram-icon"></use></svg></a></li>
														<li><a href="#" class="youtube-icon"><svg width="20" height="20"><use xlink:href="#youtube-icon"></use></svg></a></li>
														<li><a href="#" class="spotify-icon"><svg width="20" height="20"><use xlink:href="#spotify-icon"></use></svg></a></li>
													</ul>
												</div>
											</div>
											<!-- lineup-image-hover -->												
										</div>					
										<!-- lineup-image-wrapper -->																									
									</div>
									<!-- swiper-slide-->
									<div class="swiper-slide">
										<div class="lineup-image-wrapper position-relative">
											<div class="lineup-image">
												<img src="/assets/images/home-1/lineup-image-2.jpg" class="img-fluid" alt="lineup-image">
											</div>
											<div class="lineup-image-hover">
												<p class="author-name">Orion Ryder</p>
												<div class="line-up-hover-content">
													<h5 class="fw-medium mb-20">Genere : <span class="text-uppercase">rock</span></h5>
													<ul class="list-unstyled line-up-icons d-flex align-items-center gap-3 gap-lg-20 mb-0">
														<li><a href="#" class="facebook-icon"><svg width="20" height="20"><use xlink:href="#facebook-icon"></use></svg></a></li>
														<li><a href="#" class="instagram-icon"><svg width="20" height="20"><use xlink:href="#instagram-icon"></use></svg></a></li>
														<li><a href="#" class="youtube-icon"><svg width="20" height="20"><use xlink:href="#youtube-icon"></use></svg></a></li>
														<li><a href="#" class="spotify-icon"><svg width="20" height="20"><use xlink:href="#spotify-icon"></use></svg></a></li>
													</ul>
												</div>
											</div>
											<!-- lineup-image-hover -->
										</div>	 
										<!-- lineup-image-wrapper -->
									</div>
									<!-- swiper-slide-->
									<div class="swiper-slide">
										<div class="lineup-image-wrapper position-relative">
											<div class="lineup-image">
												<img src="/assets/images/home-1/lineup-image-3.jpg" class="img-fluid" alt="lineup-image">
											</div>
											<div class="lineup-image-hover">
												<p class="author-name">Electra Nova</p>
												<div class="line-up-hover-content">
													<h5 class="fw-medium mb-20">Genere : <span class="text-uppercase">hio-hop</span></h5>
													<ul class="list-unstyled line-up-icons d-flex align-items-center gap-3 gap-lg-20 mb-0">
														<li><a href="#" class="facebook-icon"><svg width="20" height="20"><use xlink:href="#facebook-icon"></use></svg></a></li>
														<li><a href="#" class="instagram-icon"><svg width="20" height="20"><use xlink:href="#instagram-icon"></use></svg></a></li>
														<li><a href="#" class="youtube-icon"><svg width="20" height="20"><use xlink:href="#youtube-icon"></use></svg></a></li>
														<li><a href="#" class="spotify-icon"><svg width="20" height="20"><use xlink:href="#spotify-icon"></use></svg></a></li>
													</ul>
												</div>
											</div>
											<!-- lineup-image-hover -->
										</div>			
										<!-- lineup-image-wrapper -->
									</div> 
									<!-- swiper-slide-->	
								</div>
								<!-- swiper-wrapper -->
							</div>
							<!-- swiper -->
							<div class="lineup-swiper-pagination"></div>
									
							<div class="swiper-button-progress">								
								<div class="swiper-button-next">
									<span class="chevron-right-icon"><svg width="12" height="14"><use xlink:href="#chevron-right-icon"></use></svg></span>
								</div>
								<div class="swiper-button-prev">
									<span class="chevron-left-icon"><svg width="12" height="14"><use xlink:href="#chevron-left-icon"></use></svg></span>
								</div>								
							</div>
						</div>						
								
					</div>
					<!-- col-7 -->
					<div class="col-lg-5">
						<div class="lineup-right-content mt-60 mt-lg-0">
							<div class="section-title section-title-style-2 mb-4 mb-lg-30 mb-xxl-40">
								<span class="fs-3 straight-line-wrapper fw-semibold position-relative"> <span class="straight-line"></span>Line-Up</span>
								<h2 class="title display-3 fw-extra-bold d-flex flex-column">
									<span class="mb-n2 text-opacity">Rhythm</span>
									<span class="sub-title fw-extra-bold primary-text-shadow">Revelations</span> 
								</h2>
							</div>
							<!-- section-title -->
							<p class="mb-4 mb-lg-30">
								Unleash the rhythm with an extraordinary lineup. Get ready for a musical extravaganza that will captivate your senses.
							</p>
							<p class="mb-0">				 
								Experience the magic of harmonious melodies in a night to remember.
							</p>

							<div class="mt-20 mt-lg-0">
								<a href="#" class="download-link d-flex align-items-center justify-content-lg-end gap-30" aria-label="buttons">See More<span class="ticket-arrow arrow-up-right"><svg width="32" height="32"><use xlink:href="#arrow-up-right"></use></svg></span></a>										
							</div>									
						</div>
						<!-- lineup-right-content -->
					</div>
					<!-- col-5 -->
				</div>
				<!-- row -->
			</div>
			<!-- container -->
			<div class="ellipse-image-2">
				<img src="/assets/images/home-1/ellipse-2.png" class="img-fluid" alt="img">
			</div>			
		</div>
		<!-- lineup-contents -->
	</section>
	<!--LineUp Section ======================-->


	<!--Scroll Section ======================-->
	<div class="scroll-section py-30 position-relative" >				
		<div class="marquee-elements">
			<div class="scroll-elements">
				<span class="scroll-items js-elements">
					<span class="scroll-light-text fs-180 fw-extra-bold text-uppercase d-flex gap-10 mb-0"><span>experience</span>
					<span class="mx-10 mx-lg-4">/</span><span class="primary-text-shadow me-30 me-lg-50">celebrate</span> </span>
				</span>						
			</div>					
		</div>							
	</div>
	<!--Scroll Section ======================-->


	<!--Highlights Section ======================-->
	<section class="highlight-section highlight-1 py-50 py-lg-100 py-xxl-120 mt-20 mt-lg-40" data-bs-theme="dark">
		<div class="container position-relative">
			<div class="ellipse-image-1">
				<img src="/assets/images/home-1/ellipse-1.png" alt="ellipse-1">
			</div>
			<div class="row gy-4 gy-lg-0 align-items-lg-end justify-content-lg-between mb-30 mb-lg-70">
				<div class="col-lg-5">
					<div class="section-title section-title-style-2">
						<span class="fs-3 straight-line-wrapper fw-semibold position-relative"> <span class="straight-line"></span>Highlights</span>
						<h2 class="title display-3 fw-extra-bold d-flex flex-column">
							<span class="mb-n2 text-opacity">Music</span>
							<span class="sub-title fw-extra-bold primary-text-shadow">Extravaganza</span> 
						</h2>						
					</div>
					<!-- section-title -->
				</div>
				<div class="col-lg-5">
					<div class="highlights-text">
						<p class="text-lg-end">
							Immerse in mesmerizing performances and interactive art at our music extravaganza. Experience a festival atmosphere like no other, where unforgettable moments.
						</p>
					</div>
				</div>
			</div>
			<!-- row -->
					
			<div class="swiper highlight-swiper">
				<div class="swiper-wrapper"> 
					<div class="swiper-slide">
						<div class="highlights-item position-relative d-flex flex-column gap-20 px-30 py-40 px-xl-40 py-xl-60 active">
							<div class="highlights-icon">
								<img src="/assets/images/home-1/highlights-icon-1.png" alt="img">
							</div>
							<h2 class="fw-extra-bold mb-0">Main Stage Extravaganza</h2>
						</div>						
					</div>
					<!-- swiper-slide-->
					<div class="swiper-slide">
						<div class="highlights-item position-relative  d-flex flex-column gap-20 px-30 py-40 px-xl-40 py-xl-60">
							<div class="highlights-icon">
								<img src="/assets/images/home-1/highlights-icon-2.png" alt="img">
							</div>
							<h2 class="fw-extra-bold mb-0">Immersive Sound and Lighting</h2>
						</div>						
					</div>
					<!-- swiper-slide-->
					<div class="swiper-slide">
						<div class="highlights-item position-relative  d-flex flex-column gap-20 px-30 py-40 px-xl-40 py-xl-60">
							<div class="highlights-icon">
								<img src="/assets/images/home-1/highlights-icon-3.png" alt="img">
							</div>
							<h2 class="fw-extra-bold mb-0">Exquisite Food & Drinks</h2>
						</div>						
					</div>
					<!-- swiper-slide-->
				</div>
				<!-- swiper-wrapper-->
			</div>
			<!-- swiper-->			
		</div>
	</section>
	<!--Highlights Section ======================-->

			
	<!--Schedule Section ======================-->
	<section id="schedule" class="schedule-section schedule-1 py-50 py-lg-100 pt-xxl-120 position-relative ">
		<div class="container">
			<div class="row gx-70 gy-40">
				<div class="col-lg-4">
					<div class="schedule-left-content">
						<div class="section-title section-title-style-2 mb-30 mb-lg-40 mb-xxl-60">
							<span class="fs-3 straight-line-wrapper fw-semibold position-relative"> <span class="straight-line"></span>Schedule</span>
							<h2 class="title display-3 fw-extra-bold d-flex flex-column">
								<span class="mb-n2 text-opacity">Melody</span>
								<span class="sub-title fw-extra-bold primary-text-shadow">Agenda</span> 
							</h2>
						</div>
						<!-- section-title -->
						<p class="mb-0">
							Captivating performances, interactive workshops, and delightful culinary delights await you at Harmonia Music Festival. Let the melodies transcend boundaries on this unforgettable musical journey.
						</p>					

						<div class="pt-4 pt-lg-30 mb-10 mb-lg-40">
							<a href="#" class="download-link d-flex align-items-center gap-40" aria-label="buttons">Download Agenda <span class="ticket-arrow arrow-down-right"><svg width="36" height="36"><use xlink:href="#arrow-down-right"></use></svg></span></a>										
						</div>

						<div class="schedule-image bg-mask d-none d-lg-block">
							<img src="/assets/images/home-1/schedule-image.png" class="img-fluid" alt="image">
						</div>

						<div class="ellipse-image-1">
							<img src="/assets/images/home-1/ellipse-1.png" class="img-fluid" alt="img">
						</div>
					</div>
					<!-- schedule-left-content -->
				</div>
				<!-- col-4 -->
				<div class="col-lg-8">
					<div class="schedule-right-content position-relative">
						<div class="ellipse-image-2">
							<img src="/assets/images/home-1/ellipse-2.png" class="img-fluid" alt="img">
						</div>
								
						<!-- Tabs -->
						<ul class="schedule-tabs custom-inner-bg nav nav-pills mb-50 mb-lg-70 d-flex justify-content-between justify-content-lg-center" id="pills-tab" role="tablist">
							<li class="nav-item" role="presentation">
							<button class="schedule-button active" id="day-1-tab" data-bs-toggle="pill" data-bs-target="#day-1" type="button" role="tab" aria-controls="day-1" aria-selected="true">
								<span class="fs-3 fw-extra-bold mb-0">Day 1</span>
								<span class="fs-5 fw-semibold mb-0 d-none d-lg-block">August 25, 2023</span>
							</button>
							</li>
							<li class="nav-item" role="presentation">
							<button class="schedule-button" id="day-2-tab" data-bs-toggle="pill" data-bs-target="#day-2" type="button" role="tab" aria-controls="day-2" aria-selected="false">
								<span class="fs-3 fw-extra-bold mb-0">Day 2</span>
								<span class="fs-5 fw-semibold mb-0 d-none d-lg-block">August 25, 2023</span>
							</button>
							</li>              
							<li class="nav-item" role="presentation">
							<button class="schedule-button" id="day-3-tab" data-bs-toggle="pill" data-bs-target="#day-3" type="button" role="tab" aria-controls="day-3" aria-selected="false">
								<span class="fs-3 fw-extra-bold mb-0">Day 3</span>
								<span class="fs-5 fw-semibold mb-0 d-none d-lg-block">August 25, 2023</span>
							</button>
							</li>							             
						</ul>
						<!-- Tabs -->


						<!-- Tabs-Contents -->            
						<div class="tab-content" id="pills-tabContent">

							<!--day-1-tab  -->
							<div class="tab-pane fade show active" id="day-1" role="tabpanel" aria-labelledby="day-1-tab" tabindex="0">
								<ul class="schedule-tabs-content list-unstyled d-flex flex-column mb-0 gap-30">
									<li class="d-flex flex-column flex-lg-row gap-1 gap-lg-70 gap-xxl-90">
										<h2 class="fw-extra-bold schedule-time text-opacity">11:00 AM</h2>
										<div>
											<h2 class="fw-semibold text-opacity">Pre-Event Registration</h2>
										</div>										
									</li>
									<li class="d-flex flex-column flex-lg-row gap-1 gap-lg-70 gap-xxl-90">
										<h2 class="fw-extra-bold schedule-time text-opacity">12:30 PM</h2>
										<div>
											<h2 class="fw-semibold text-opacity">Interactive Music Workshops</h2>
										</div>										
									</li>
									<li class="d-flex flex-column flex-lg-row gap-1 gap-lg-70 gap-xxl-90">
										<h2 class="fw-extra-bold schedule-time text-opacity">02:00 PM</h2>
										<div>
											<h2 class="fw-semibold text-opacity">Food & Beverage Bazaar</h2>
											<p class="mb-0">
												Delight in a culinary journey with a diverse array of delectable treats from local vendors. Savor gourmet dishes and specialty drinks amidst a vibrant atmosphere.
											</p>
										</div>
									</li>
									<li class="d-flex flex-column flex-lg-row gap-1 gap-lg-70 gap-xxl-90">
										<h2 class="fw-extra-bold schedule-time text-opacity">04:00 PM</h2>
										<div>
											<h2 class="fw-semibold text-opacity">Artistic Installations Unveiled</h2>
											<p class="mb-0">
												Immerse yourself in an artistic wonderland as enchanting installations come to life. Engage with visual and interactive displays that celebrate the harmony between music and art.
											</p>
										</div>
									</li>
									<li class="d-flex flex-column flex-lg-row gap-1 gap-lg-70 gap-xxl-90">
										<h2 class="fw-extra-bold schedule-time text-opacity">06:30 PM</h2>
										<div>
											<h2 class="fw-semibold text-opacity">Opening Ceremony with Celestial Rhythms</h2>
										</div>
									</li>
									<li class="d-flex flex-column flex-lg-row gap-1 gap-lg-70 gap-xxl-90">
										<h2 class="fw-extra-bold schedule-time text-opacity">08:00 PM</h2>
										<div>
											<h2 class="fw-semibold text-opacity">Astral Beats on the Main Stage</h2>
											<p class="mb-0">
												Get ready to dance as the electrifying duo Astral Beats takes the main stage, delivering an immersive blend of electronic and live instruments.
											</p>
										</div>
									</li>
									<li class="d-flex flex-column flex-lg-row gap-1 gap-lg-70 gap-xxl-90">
										<h2 class="fw-extra-bold schedule-time text-opacity">10:00 PM</h2>
										<div>
											<h2 class="fw-semibold text-opacity">Starlit Serenade Sessions</h2>
											<p class="mb-0">
												Extend your night under the stars with intimate acoustic sessions. Unwind with soul-stirring melodies and acoustic performances by guest artists.
											</p>
										</div>
									</li>
								</ul>
							</div>
							<!--day-1-tab  -->

							<!--day-2-tab  -->
							<div class="tab-pane fade" id="day-2" role="tabpanel" aria-labelledby="day-2-tab" tabindex="0">
								<ul class="schedule-tabs-content list-unstyled d-flex flex-column mb-0 gap-30">
									<li class="d-flex flex-column flex-lg-row gap-1 gap-lg-70 gap-xxl-90">
										<h2 class="fw-extra-bold schedule-time text-opacity">11:00 AM</h2>
										<div>
											<h2 class="fw-semibold text-opacity">Pre-Event Registration</h2>
										</div>										
									</li>
									<li class="d-flex flex-column flex-lg-row gap-1 gap-lg-70 gap-xxl-90">
										<h2 class="fw-extra-bold schedule-time text-opacity">12:30 PM</h2>
										<div>
											<h2 class="fw-semibold text-opacity">Interactive Music Workshops</h2>
										</div>										
									</li>
									<li class="d-flex flex-column flex-lg-row gap-1 gap-lg-70 gap-xxl-90">
										<h2 class="fw-extra-bold schedule-time text-opacity">02:00 PM</h2>
										<div>
											<h2 class="fw-semibold text-opacity">Food & Beverage Bazaar</h2>
											<p class="mb-0">
												Delight in a culinary journey with a diverse array of delectable treats from local vendors. Savor gourmet dishes and specialty drinks amidst a vibrant atmosphere.
											</p>
										</div>
									</li>
									<li class="d-flex flex-column flex-lg-row gap-1 gap-lg-70 gap-xxl-90">
										<h2 class="fw-extra-bold schedule-time text-opacity">04:00 PM</h2>
										<div>
											<h2 class="fw-semibold text-opacity">Artistic Installations Unveiled</h2>
											<p class="mb-0">
												Immerse yourself in an artistic wonderland as enchanting installations come to life. Engage with visual and interactive displays that celebrate the harmony between music and art.
											</p>
										</div>
									</li>
									<li class="d-flex flex-column flex-lg-row gap-1 gap-lg-70 gap-xxl-90">
										<h2 class="fw-extra-bold schedule-time text-opacity">06:30 PM</h2>
										<div>
											<h2 class="fw-semibold text-opacity">Opening Ceremony with Celestial Rhythms</h2>
										</div>
									</li>
									<li class="d-flex flex-column flex-lg-row gap-1 gap-lg-70 gap-xxl-90">
										<h2 class="fw-extra-bold schedule-time text-opacity">08:00 PM</h2>
										<div>
											<h2 class="fw-semibold text-opacity">Astral Beats on the Main Stage</h2>
											<p class="mb-0">
												Get ready to dance as the electrifying duo Astral Beats takes the main stage, delivering an immersive blend of electronic and live instruments.
											</p>
										</div>
									</li>
									<li class="d-flex flex-column flex-lg-row gap-1 gap-lg-70 gap-xxl-90">
										<h2 class="fw-extra-bold schedule-time text-opacity">10:00 PM</h2>
										<div>
											<h2 class="fw-semibold text-opacity">Starlit Serenade Sessions</h2>
											<p class="mb-0">
												Extend your night under the stars with intimate acoustic sessions. Unwind with soul-stirring melodies and acoustic performances by guest artists.
											</p>
										</div>
									</li>
								</ul>
							</div>
							<!--day-2-tab  -->

							<!--day-3-tab  -->
							<div class="tab-pane fade" id="day-3" role="tabpanel" aria-labelledby="day-3-tab" tabindex="0">
								<ul class="schedule-tabs-content list-unstyled d-flex flex-column mb-0 gap-30">
									<li class="d-flex flex-column flex-lg-row gap-1 gap-lg-70 gap-xxl-90">
										<h2 class="fw-extra-bold schedule-time text-opacity">11:00 AM</h2>
										<div>
											<h2 class="fw-semibold text-opacity">Pre-Event Registration</h2>
										</div>										
									</li>
									<li class="d-flex flex-column flex-lg-row gap-1 gap-lg-70 gap-xxl-90">
										<h2 class="fw-extra-bold schedule-time text-opacity">12:30 PM</h2>
										<div>
											<h2 class="fw-semibold text-opacity">Interactive Music Workshops</h2>
										</div>										
									</li>
									<li class="d-flex flex-column flex-lg-row gap-1 gap-lg-70 gap-xxl-90">
										<h2 class="fw-extra-bold schedule-time text-opacity">02:00 PM</h2>
										<div>
											<h2 class="fw-semibold text-opacity">Food & Beverage Bazaar</h2>
											<p class="mb-0">
												Delight in a culinary journey with a diverse array of delectable treats from local vendors. Savor gourmet dishes and specialty drinks amidst a vibrant atmosphere.
											</p>
										</div>
									</li>
									<li class="d-flex flex-column flex-lg-row gap-1 gap-lg-70 gap-xxl-90">
										<h2 class="fw-extra-bold schedule-time text-opacity">04:00 PM</h2>
										<div>
											<h2 class="fw-semibold text-opacity">Artistic Installations Unveiled</h2>
											<p class="mb-0">
												Immerse yourself in an artistic wonderland as enchanting installations come to life. Engage with visual and interactive displays that celebrate the harmony between music and art.
											</p>
										</div>
									</li>
									<li class="d-flex flex-column flex-lg-row gap-1 gap-lg-70 gap-xxl-90">
										<h2 class="fw-extra-bold schedule-time text-opacity">06:30 PM</h2>
										<div>
											<h2 class="fw-semibold text-opacity">Opening Ceremony with Celestial Rhythms</h2>
										</div>
									</li>
									<li class="d-flex flex-column flex-lg-row gap-1 gap-lg-70 gap-xxl-90">
										<h2 class="fw-extra-bold schedule-time text-opacity">08:00 PM</h2>
										<div>
											<h2 class="fw-semibold text-opacity">Astral Beats on the Main Stage</h2>
											<p class="mb-0">
												Get ready to dance as the electrifying duo Astral Beats takes the main stage, delivering an immersive blend of electronic and live instruments.
											</p>
										</div>
									</li>
									<li class="d-flex flex-column flex-lg-row gap-1 gap-lg-70 gap-xxl-90">
										<h2 class="fw-extra-bold schedule-time text-opacity">10:00 PM</h2>
										<div>
											<h2 class="fw-semibold text-opacity">Starlit Serenade Sessions</h2>
											<p class="mb-0">
												Extend your night under the stars with intimate acoustic sessions. Unwind with soul-stirring melodies and acoustic performances by guest artists.
											</p>
										</div>
									</li>
								</ul>
							</div>
							<!--day-3-tab  -->

						</div>
						<!-- Tabs-Contents -->           

					</div>
					<!-- schedule-right-content -->
				</div>
				<!-- col-8 -->
			</div>
		</div>
	</section>
	<!--Schedule Section ======================-->


	<!--Sponsor Section ======================-->
	<section id="sponsor" class="sponsor-section sponsor-1 bg-lg custom-inner-bg position-relative pt-50 pt-lg-100 pt-xxl-120 pb-30 pb-lg-80 pb-xxl-100">
		<div class="ellipse-image-1">
			<img src="/assets/images/home-1/ellipse-1.png" alt="ellipse-1">
		</div>
		<div class="container">			
			<div class="row gy-4 gy-lg-0 align-items-lg-end justify-content-lg-between mb-30 mb-lg-70">
				<div class="col-lg-5">
					<div class="section-title section-title-style-2">
						<span class="fs-3 straight-line-wrapper fw-semibold position-relative"> <span class="straight-line"></span>The Power Behind Us</span>
						<h2 class="title display-3 fw-extra-bold d-flex flex-column">
							<span class="mb-n2 text-opacity">Cadence</span>
							<span class="sub-title fw-extra-bold primary-text-shadow">Contributors</span> 
						</h2>						
					</div>
					<!-- section-title -->
				</div>
				<div class="col-lg-5">
					<div class="highlights-text">
						<p class="text-lg-end">
							Elevating the Music. Our valued partners and sponsors play a pivotal role in bringing our vision to life. We orchestrate an unforgettable music celebration that resonates.
						</p>
					</div>
				</div>
			</div>
			<!-- row -->

			<div class="brand-logos position-relative">
				<div class="swiper brand-swiper">
					<div class="swiper-wrapper"> 
						<div class="swiper-slide">
							<div class="brand-image position-relative">
								<a href="#">
									<img src="/assets/images/home-2/brand-1.png" class="img-fluid" alt="brand-image">
								</a>									
							</div>						
						</div>
						<!-- swiper-slide-->
						<div class="swiper-slide">
							<div class="brand-image position-relative">
								<a href="#">
									<img src="/assets/images/home-2/brand-3.png" class="img-fluid" alt="brand-image">
								</a>									
							</div>						
						</div>
						<!-- swiper-slide-->
						<div class="swiper-slide">
							<div class="brand-image position-relative">
								<a href="#">
									<img src="/assets/images/home-2/brand-4.png" class="img-fluid" alt="brand-image">
								</a>									
							</div>						
						</div>
						<!-- swiper-slide-->		
						<div class="swiper-slide">
							<div class="brand-image position-relative">
								<a href="#">
									<img src="/assets/images/home-2/brand-5.png" class="img-fluid" alt="brand-image">
								</a>									
							</div>						
						</div>
						<!-- swiper-slide-->	
						<div class="swiper-slide">
							<div class="brand-image position-relative">
								<a href="#">
									<img src="/assets/images/home-2/brand-3.png" class="img-fluid" alt="brand-image">
								</a>									
							</div>						
						</div>
						<!-- swiper-slide-->
						<div class="swiper-slide">
							<div class="brand-image position-relative">
								<a href="#">
									<img src="/assets/images/home-2/brand-1.png" class="img-fluid" alt="brand-image">
								</a>									
							</div>						
						</div>
						<!-- swiper-slide-->
						<div class="swiper-slide">
							<div class="brand-image position-relative">
								<a href="#">
									<img src="/assets/images/home-2/brand-2.png" class="img-fluid" alt="brand-image">
								</a>									
							</div>						
						</div>
						<!-- swiper-slide-->				
					</div>
					<!-- swiper-wrapper -->
				</div>
				<!-- swiper -->				
			</div>
			<div class="text-center mt-30 mt-lg-60 mt-xxl-70">
				<a href="#" class="btn btn-outline-primary d-inline-flex align-items-center gap-3" aria-label="buttons">Become A Sponsor<span class="arrow-up-right"><svg width="28" height="28"><use xlink:href="#arrow-up-right"></use></svg></span></a>
			</div>
		</div>
	</section>
	<!--Sponsor Section ======================-->


	<!--Gallery Section ======================-->
	<div class="gallery-section gallery-1 py-50 py-lg-100 py-xxl-120">		
		<div class="swiper swiper_gallery">
			<div class="swiper-wrapper"> 
				<div class="swiper-slide">
					<div class="gallery-image">
						<a href="http://www.youtube.com/watch?v=0O2aH4XLbto" class="video-popup-link hover-area" data-cursor-text="Video">
							<img src="/assets/images/gallery-1.jpg" alt="img">
						</a>				
					</div>
				</div>
				<div class="swiper-slide">
					<div class="gallery-image">
						<a href="/assets/images/gallery-2.jpg" class="image-link hover-area" data-cursor-text="Image">
							<img src="/assets/images/gallery-2.jpg" alt="img">
						</a>				
					</div>
				</div>
				<div class="swiper-slide">
					<div class="gallery-image">
						<a href="http://www.youtube.com/watch?v=0O2aH4XLbto" class="video-popup-link hover-area" data-cursor-text="Video">
							<img src="/assets/images/gallery-3.jpg" alt="img">
						</a>				
					</div>
				</div>
				<div class="swiper-slide">
					<div class="gallery-image">
						<a href="/assets/images/gallery-4.jpg" class="image-link hover-area" data-cursor-text="Image">
							<img src="/assets/images/gallery-4.jpg" alt="img">
						</a>				
					</div>
				</div>
				<div class="swiper-slide">
					<div class="gallery-image">
						<a href="http://www.youtube.com/watch?v=0O2aH4XLbto" class="video-popup-link hover-area" data-cursor-text="Video">
							<img src="/assets/images/gallery-5.jpg" alt="img">
						</a>				
					</div>
				</div>
				<div class="swiper-slide">
					<div class="gallery-image">
						<a href="/assets/images/gallery-5.jpg" class="image-link hover-area" data-cursor-text="Image">
							<img src="/assets/images/gallery-5.jpg" alt="img">
						</a>				
					</div>
				</div>
				<div class="swiper-slide">
					<div class="gallery-image">
						<a href="http://www.youtube.com/watch?v=0O2aH4XLbto" class="video-popup-link hover-area" data-cursor-text="Video">
							<img src="/assets/images/gallery-6.jpg" alt="img">
						</a>				
					</div>
				</div>
			</div>
		</div>
		<!-- swiper-gallery -->

		<div class="swiper swiper_gallery2">
			<div class="swiper-wrapper"> 
				<div class="swiper-slide">
					<div class="gallery-image">
						<a href="/assets/images/gallery-6.jpg" class="image-link hover-area" data-cursor-text="Image">
							<img src="/assets/images/gallery-6.jpg" alt="img">
						</a>				
					</div>
				</div>
				<div class="swiper-slide">
					<div class="gallery-image">
						<a href="http://www.youtube.com/watch?v=0O2aH4XLbto" class="video-popup-link hover-area" data-cursor-text="Video">
							<img src="/assets/images/gallery-7.jpg" alt="img">
						</a>				
					</div>
				</div>
				<div class="swiper-slide">
					<div class="gallery-image">
						<a href="/assets/images/gallery-8.jpg" class="image-link hover-area" data-cursor-text="Image">
							<img src="/assets/images/gallery-8.jpg" alt="img">
						</a>				
					</div>
				</div>
				<div class="swiper-slide">
					<div class="gallery-image">
						<a href="http://www.youtube.com/watch?v=0O2aH4XLbto" class="video-popup-link hover-area" data-cursor-text="Video">
							<img src="/assets/images/gallery-9.jpg" alt="img">
						</a>				
					</div>
				</div>
				<div class="swiper-slide">
					<div class="gallery-image">
						<a href="/assets/images/gallery-10.jpg" class="image-link hover-area" data-cursor-text="Image">
							<img src="/assets/images/gallery-10.jpg" alt="img">
						</a>				
					</div>
				</div>
				<div class="swiper-slide">
					<div class="gallery-image">
						<a href="http://www.youtube.com/watch?v=0O2aH4XLbto" class="video-popup-link hover-area" data-cursor-text="Video">
							<img src="/assets/images/gallery-11.jpg" alt="img">
						</a>				
					</div>
				</div>
				<div class="swiper-slide">
					<div class="gallery-image">
						<a href="/assets/images/gallery-1.jpg" class="image-link hover-area" data-cursor-text="Image">
							<img src="/assets/images/gallery-1.jpg" alt="img">
						</a>				
					</div>
				</div>
			</div>
		</div>
		<!-- swiper-gallery2 -->		
	</div>
	<!--Gallery Section ======================-->


	<!--Faq Section ======================-->
	<section class="faq-section faq-1 mb-20 mb-lg-30">
		<div class="container">
			<div class="row gx-0 gy-lg-0 gy-30">
				<div class="col-lg-5">
					<div class="sticky-contents">
						<div class="section-title section-title-style-2 mb-30 mb-lg-40 mb-xxl-60">
							<span class="fs-3 straight-line-wrapper fw-semibold position-relative"> <span class="straight-line"></span>Solutions for Your Curiosities</span>
							<h2 class="title display-3 fw-extra-bold d-flex flex-column">
								<span class="mb-n2 text-opacity">Harmony</span>
								<span class="sub-title fw-extra-bold primary-text-shadow">Helpdesk</span> 
							</h2>
						</div>
						<!-- section-title -->
					</div>							
				</div>
				<!-- col-4 -->
				<div class="col-lg-7">
					<div class="faq-wrapper position-relative">
						<div class="accordion" id="faq-1-accordion">
							<div class="accordion-item">
							<h2 class="accordion-header">
								<button class="accordion-button d-flex justify-content-between align-items-center collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#itemOne" aria-expanded="false" aria-controls="itemOne">
									<span class="text-opacity">What is the date and location of the Harmonia music concert?</span>	
									<span class="faq-arrow"><svg width="35" height="35"><use xlink:href="#faq-arrow"></use></svg></span>
								</button>
							</h2>
							<div id="itemOne" class="accordion-collapse collapse" data-bs-parent="#faq-1-accordion">
								<p class="accordion-body pt-0 mb-0">
									Outside food and beverages are not allowed inside the event grounds. We have a wide selection of food vendors and specialty beverages to cater to your culinary preferences.
								</p>
							</div>
							</div>
							<!-- accordion-item -->

							<div class="accordion-item">
							<h2 class="accordion-header">
								<button class="accordion-button d-flex justify-content-between align-items-center" type="button" data-bs-toggle="collapse" data-bs-target="#itemTwo" aria-expanded="true" aria-controls="itemTwo">
									<span class="text-opacity">Can I bring my own food and drinks to the event?</span>	
									<span class="faq-arrow"><svg width="35" height="35"><use xlink:href="#faq-arrow"></use></svg></span>
								</button>
							</h2>
							<div id="itemTwo" class="accordion-collapse collapse show" data-bs-parent="#faq-1-accordion">
								<p class="accordion-body pt-0 mb-0">
									Outside food and beverages are not allowed inside the event grounds. We have a wide selection of food vendors and specialty beverages to cater to your culinary preferences.
								</p>
							</div>
							</div>
							<!-- accordion-item -->

							<div class="accordion-item">
							<h2 class="accordion-header">
								<button class="accordion-button d-flex justify-content-between align-items-center collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#itemThree" aria-expanded="false" aria-controls="itemThree">
									<span class="text-opacity">How can I purchase tickets for the event?</span>
									<span class="faq-arrow"><svg width="35" height="35"><use xlink:href="#faq-arrow"></use></svg></span>
								</button>
										
							</h2>
							<div id="itemThree" class="accordion-collapse collapse" data-bs-parent="#faq-1-accordion">
								<p class="accordion-body pt-0 mb-0">
									Outside food and beverages are not allowed inside the event grounds. We have a wide selection of food vendors and specialty beverages to cater to your culinary preferences.
								</p>
							</div>
							</div>
							<!-- accordion-item -->

							<div class="accordion-item">
								<h2 class="accordion-header">
								<button class="accordion-button d-flex justify-content-between align-items-center collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#itemFour" aria-expanded="false" aria-controls="itemFour">
									<span class="text-opacity">Are there age restrictions for attending the event?</span>
									<span class="faq-arrow"><svg width="35" height="35"><use xlink:href="#faq-arrow"></use></svg></span>  
								</button>
								</h2>
								<div id="itemFour" class="accordion-collapse collapse" data-bs-parent="#faq-1-accordion">
									<p class="accordion-body pt-0 mb-0">
									Outside food and beverages are not allowed inside the event grounds. We have a wide selection of food vendors and specialty beverages to cater to your culinary preferences.
								</p>
								</div>
							</div>
							<!-- accordion-item -->

							<div class="accordion-item">
								<h2 class="accordion-header">
								<button class="accordion-button d-flex justify-content-between align-items-center collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#itemFive" aria-expanded="false" aria-controls="itemFive">
									<span class="text-opacity">Is there parking available at the venue?</span>
									<span class="faq-arrow"><svg width="35" height="35"><use xlink:href="#faq-arrow"></use></svg></span>  
								</button>
								</h2>
								<div id="itemFive" class="accordion-collapse collapse" data-bs-parent="#faq-1-accordion">
									<p class="accordion-body pt-0 mb-0">
									Outside food and beverages are not allowed inside the event grounds. We have a wide selection of food vendors and specialty beverages to cater to your culinary preferences.
								</p>
								</div>
							</div>
							<!-- accordion-item -->

							<div class="accordion-item">
								<h2 class="accordion-header">
								<button class="accordion-button d-flex justify-content-between align-items-center collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#itemSix" aria-expanded="false" aria-controls="itemSix">
									<span class="text-opacity">Is the event accessible for individuals with disabilities?</span>
									<span class="faq-arrow"><svg width="35" height="35"><use xlink:href="#faq-arrow"></use></svg></span>  
								</button>
								</h2>
								<div id="itemSix" class="accordion-collapse collapse" data-bs-parent="#faq-1-accordion">
									<p class="accordion-body pt-0 mb-0">
									Outside food and beverages are not allowed inside the event grounds. We have a wide selection of food vendors and specialty beverages to cater to your culinary preferences.
								</p>
								</div>
							</div>
							<!-- accordion-item -->
						</div>
						<!-- .accordion -->

						<div class="ellipse-image-2">
							<img src="/assets/images/home-1/ellipse-2.png" alt="ellipse-1">
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--Faq Section ======================-->


	<!--Scroll Section ======================-->
	<div class="scroll-section py-30 position-relative" >				
		<div class="marquee-elements">
			<div class="scroll-elements">
				<span class="scroll-items js-elements">
					<span class="scroll-light-text fs-180 fw-extra-bold text-uppercase d-flex gap-10 mb-0"><span>experience</span>
					<span class="mx-10 mx-lg-4">/</span><span class="primary-text-shadow me-30 me-lg-50">celebrate</span> </span>
				</span>						
			</div>					
		</div>							
	</div>
	<!--Scroll Section ======================-->


	<!--Blog Section ======================-->
	<section class="blog-section blog-horizontal pt-3 pb-50 pb-lg-80 pb-xxl-100">
		<div class="container">
			<div class="row gy-4 gy-lg-0 align-items-lg-end justify-content-lg-between mb-30 mb-lg-70">
				<div class="col-lg-4">
					<div class="section-title section-title-style-2">
						<span class="fs-3 straight-line-wrapper fw-semibold position-relative"> <span class="straight-line"></span>The Power Behind Us</span>
						<h2 class="title display-3 fw-extra-bold d-flex flex-column">
							<span class="mb-n2 text-opacity">Harmonia</span>
							<span class="sub-title fw-extra-bold primary-text-shadow">Headlines</span> 
						</h2>						
					</div>
					<!-- section-title -->
				</div>
				<div class="col-lg-5">
					<div class="highlights-text">
						<p class="custom-roboto text-lg-end">
							Elevating the Music. Our valued partners and sponsors play a pivotal role in bringing our vision to life. We orchestrate an unforgettable music celebration that resonates.
						</p>
					</div>
				</div>
			</div>
			<!-- row -->
			<div class="blog-content-wrapper position-relative">
				<div class="ellipse-image-1">
					<img src="/assets/images/home-1/ellipse-1.png" alt="ellipse-1">
				</div>
				<div class="swiper blog-swiper">
					<div class="swiper-wrapper"> 
						<div class="swiper-slide">
							<div class="blog-content">
								<div class="blog-content-4 custom-inner-bg">
									<div class="row gx-20 gy-50 gy-lg-0 align-items-center justify-content-between">
										<div class="col-lg-6 order-lg-2">
											<div class="blog-image">
												<img src="/assets/images/home-1/blog-image-1.jpg" class="img-fluid" alt="img">
											</div>
										</div>
										<div class="col-lg-6 order-lg-1">
											<div class="blog-left-content">
												<p><span class="calendar me-10"><svg width="16" height="17"><use xlink:href="#calendar"></use></svg></span>09 Aug 2023</p>
												<h2 class="blog-link fs-4 fw-bold"><a class="text-decoration-none" href="blog-single-1.html" aria-label="blog-links">Epic Comeback: Star-Studded Lineup!</a></h2>													
												<p>Get ready for a musical extravaganza like never before as Harmonia Music ...</p>
												<div>
													<a href="blog-single-1.html" class="download-link d-flex align-items-center gap-30" aria-label="buttons">Read more<span class="ticket-arrow arrow-up-right"><svg width="32" height="32"><use xlink:href="#arrow-up-right"></use></svg></span></a>
												</div>
											</div>
											<!-- left-content -->
										</div>									
									</div>
								</div>											
							</div>
							<!-- blog-content -->						
						</div>
						<!-- swiper-slide-->
						<div class="swiper-slide">
							<div class="blog-content">
								<div class="blog-content-4 custom-inner-bg">
									<div class="row gx-20 gy-50 gy-lg-0 align-items-center justify-content-between">
										<div class="col-lg-6 order-lg-2">
											<div class="blog-image">
												<img src="/assets/images/home-1/blog-image-2.jpg" class="img-fluid" alt="img">
											</div>
										</div>
										<div class="col-lg-6 order-lg-1">
											<div class="blog-left-content">
												<p><span class="calendar me-10"><svg width="16" height="17"><use xlink:href="#calendar"></use></svg></span>09 Aug 2023</p>
												<h2 class="blog-link fs-4 fw-bold"><a class="text-decoration-none" href="blog-single-1.html">Harmonia's Prestigious Excellence Award!</a></h2>													
												<p>Celebrating a remarkable achievement, Harmonia Music Festival has been honored...</p>
												<div>
													<a href="blog-single-1.html" class="download-link d-flex align-items-center gap-30" aria-label="buttons">Read more<span class="ticket-arrow arrow-up-right"><svg width="32" height="32"><use xlink:href="#arrow-up-right"></use></svg></span></a>
												</div>
											</div>
											<!-- left-content -->
										</div>									
									</div>	
								</div>										
							</div>
							<!-- blog-content -->						
						</div>
						<!-- swiper-slide-->
						<div class="swiper-slide">
							<div class="blog-content">
								<div class="blog-content-4 custom-inner-bg">
									<div class="row gx-20 gy-50 gy-lg-0 align-items-center justify-content-between">
										<div class="col-lg-6 order-lg-2">
											<div class="blog-image">
												<img src="/assets/images/home-1/blog-image-3.jpg" class="img-fluid" alt="img">
											</div>
										</div>
										<div class="col-lg-6 order-lg-1">
											<div class="blog-left-content">
												<p><span class="calendar me-10"><svg width="16" height="17"><use xlink:href="#calendar"></use></svg></span>09 Aug 2023</p>
												<h2 class="blog-link fs-4 fw-bold"><a class="text-decoration-none" href="blog-single-1.html">Harmonia's Music Melodic Marvel!</a></h2>													
												<p>Get ready for a musical extravaganza like never before as Harmonia Music ...</p>
												<div>
													<a href="blog-single-1.html" class="download-link d-flex align-items-center gap-30" aria-label="buttons">Read more<span class="ticket-arrow arrow-up-right"><svg width="32" height="32"><use xlink:href="#arrow-up-right"></use></svg></span></a>
												</div>
											</div>
											<!-- left-content -->
										</div>									
									</div>
								</div>											
							</div>
							<!-- blog-content -->						
						</div>
						<!-- swiper-slide-->
						<div class="swiper-slide">
							<div class="blog-content">
								<div class="blog-content-4 custom-inner-bg">
									<div class="row gx-20 gy-50 gy-lg-0 align-items-center justify-content-between">
										<div class="col-lg-6 order-lg-2">
											<div class="blog-image">
												<img src="/assets/images/home-1/blog-image-1.jpg" class="img-fluid" alt="img">
											</div>
										</div>
										<div class="col-lg-6 order-lg-1">
											<div class="blog-left-content">
												<p><span class="calendar me-10"><svg width="16" height="17"><use xlink:href="#calendar"></use></svg></span>09 Aug 2023</p>
												<h2 class="blog-link fs-4 fw-bold"><a class="text-decoration-none" href="blog-single-1.html">Epic Comeback: Star-Studded Lineup!</a></h2>													
												<p>Get ready for a musical extravaganza like never before as Harmonia Music ...</p>
												<div>
													<a href="blog-single-1.html" class="download-link d-flex align-items-center gap-30" aria-label="buttons">Read more<span class="ticket-arrow arrow-up-right"><svg width="32" height="32"><use xlink:href="#arrow-up-right"></use></svg></span></a>
												</div>
											</div>
											<!-- left-content -->
										</div>									
									</div>	
								</div>										
							</div>
							<!-- blog-content -->						
						</div>
						<!-- swiper-slide-->
						<div class="swiper-slide">
							<div class="blog-content">
								<div class="blog-content-4 custom-inner-bg">
									<div class="row gx-20 gy-50 gy-lg-0 align-items-center justify-content-between">
										<div class="col-lg-6 order-lg-2">
											<div class="blog-image">
												<img src="/assets/images/home-1/blog-image-2.jpg" class="img-fluid" alt="img">
											</div>
										</div>
										<div class="col-lg-6 order-lg-1">
											<div class="blog-left-content">
												<p><span class="calendar me-10"><svg width="16" height="17"><use xlink:href="#calendar"></use></svg></span>09 Aug 2023</p>
												<h2 class="blog-link fs-4 fw-bold"><a class="text-decoration-none" href="blog-single-1.html">Epic Comeback: Star-Studded Lineup!</a></h2>													
												<p>Get ready for a musical extravaganza like never before as Harmonia Music ...</p>
												<div>
													<a href="blog-single-1.html" class="download-link d-flex align-items-center gap-30" aria-label="buttons">Read more<span class="ticket-arrow arrow-up-right"><svg width="32" height="32"><use xlink:href="#arrow-up-right"></use></svg></span></a>
												</div>
											</div>
											<!-- left-content -->
										</div>									
									</div>	
								</div>										
							</div>
							<!-- blog-content -->						
						</div>
						<!-- swiper-slide-->
						<div class="swiper-slide">
							<div class="blog-content">
								<div class="blog-content-4 custom-inner-bg">
									<div class="row gx-20 gy-50 gy-lg-0 align-items-center justify-content-between">
										<div class="col-lg-6 order-lg-2">
											<div class="blog-image">
												<img src="/assets/images/home-1/blog-image-3.jpg" class="img-fluid" alt="img">
											</div>
										</div>
										<div class="col-lg-6 order-lg-1">
											<div class="blog-left-content">
												<p><span class="calendar me-10"><svg width="16" height="17"><use xlink:href="#calendar"></use></svg></span>09 Aug 2023</p>
												<h2 class="blog-link fs-4 fw-bold"><a class="text-decoration-none" href="blog-single-1.html">Harmonia's Prestigious Excellence Award!</a></h2>													
												<p>Celebrating a remarkable achievement, Harmonia Music Festival has been honored...</p>
												<div>
													<a href="blog-single-1.html" class="download-link d-flex align-items-center gap-30" aria-label="buttons">Read more<span class="ticket-arrow arrow-up-right"><svg width="32" height="32"><use xlink:href="#arrow-up-right"></use></svg></span></a>
												</div>
											</div>
											<!-- left-content -->
										</div>									
									</div>
								</div>											
							</div>
							<!-- blog-content -->						
						</div>
						<!-- swiper-slide-->
									
					</div>
					<!-- swiper-wrapper -->
				</div>
				<!-- swiper -->				
			</div>
			<!-- blog-content-wrapper -->
		</div>
	</section>
	<!--Blog Section ======================-->


	<!--CTA Section ======================-->
	<section class="cta-section cta-1 pb-50 pb-lg-80 pb-xxl-100">
		<div class="container">
			<div class="row gy-20 gy-lg-0 align-items-lg-center justify-content-lg-between">
				<div class="col-lg-4">
					<div class="d-flex justify-content-between align-items-center">
						<h2 class="fs-180-style-2 fw-extra-bold primary-text-shadow d-flex align-items-center gap-2 mb-0">
							<span class="odometer" data-count-to=30></span>
							<span class="d-flex flex-column cta-percent-off">
								<span class="cta-percent fw-extra-bold">%</span>
								<span class="cta-off fw-extra-bold">Off</span>
							</span>
						</h2>
						<div class="d-block d-lg-none">
							<div class="cta-icon">
								<a href="#ticket" aria-label="icons">
									<span class="arrow-up-right-big arrow-primary2"><svg><use xlink:href="#arrow-up-right-big"></use></svg></span>
								</a>
							</div>
						</div>
					</div>	
				</div>
				<div class="col-lg-5">
					<h2 class="cta-text ms-xl-n60 display-3 fw-extra-bold text-opacity">
						Get Your Tickets Today!
					</h2>
				</div>
				<div class="col-lg-3">
					<div class="cta-icon d-none d-lg-block ms-xl-70 ms-xxl-100">
						<a href="#ticket" aria-label="icons">
							<span class="arrow-up-right-big arrow-primary2"><svg width="205" height="205"><use xlink:href="#arrow-up-right-big"></use></svg></span>
						</a>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--CTA Section ======================-->


	<!--Subscription Section ======================-->
	<section class="subscription-section subscription-1 bg-lg custom-inner-bg position-relative">
		<div class="ellipse-image-2">
			<img src="/assets/images/home-1/ellipse-2.png" alt="ellipse-1">
		</div>
		<div class="container">
			<div class="subscription-wrapper py-50 py-lg-70 py-xxl-100">
				<div class="row justify-content-between gy-40 gy-lg-0">
					<div class="col-lg-5">
						<div class="subscription-left-content">
							<div class="section-title section-title-style-2 mb-4 mb-lg-5">
								<span class="fs-3 straight-line-wrapper fw-semibold position-relative"> <span class="straight-line"></span>Schedule</span>
								<h2 class="title display-3 fw-extra-bold d-flex flex-column">
									<span class="mb-n2 text-opacity">Sonic</span>
									<span class="sub-title fw-extra-bold primary-text-shadow">Dispatch</span> 
								</h2>
							</div>
							<!-- section-title -->
							<p class="mb-30">
								Become Part of Our Harmonious Community and Receive Exclusive Updates, Special Offers, and Exciting News about the Festival Straight to Your Inbox.
							</p>	
							<form action="#">
								<div class="subscription-form position-relative">
									<input type="email" class="form-control" id="subscriptionInput1" placeholder="Enter your Email">
									<button class="subscription-form-arrow" type="submit"><svg width="37" height="38"><use xlink:href="#subscription-form-arrow"></use></svg></button>								  
								</div>
							</form>
						</div>
						<!-- subscription-left-content -->
					</div>
					<!-- col-5 -->

					<div class="col-lg-5">
						<h3 class="straight-line-wrapper fw-semibold position-relative mb-20"> <span class="straight-line"></span>Harmonia Wayfinder</h3>
						<div class="map-image parallax position-relative">
							<span class="map-marker">
								<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt-fill" viewBox="0 0 16 16"><path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z"/>
								</svg>
							</span>								

							<div class="map-popup-content"><h3>Basement</h3><p>135W, 46nd Street, New York</p><a id="mapDirectionBtn" href="#" class="btn btn-primary btn-sm d-flex align-items-center justify-content-center custom-roboto gap-10 btn-map-direction"  data-bs-toggle="modal" data-bs-target="#RoutingMapModal">Get Direction <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/></svg></a></div>
						</div>

						<!-- Modal-Map -->
						<div class="modal modal-fullscreen routing-map-modal fade" id="RoutingMapModal" tabindex="-1" aria-labelledby="RoutingMapLabel" aria-hidden="true">
							<div class="modal-dialog modal-dialog-centered">
								<div class="modal-content">
									<div class="modal-header">
									<h1 class="modal-title fs-5" id="RoutingMapLabel">135 W, 46nd Street, New York</h1>
									<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
									</div>
									<div class="modal-body">
									<div id="RoutingMap"></div>
									</div>
								</div>
							</div>
						</div>
						<!-- Modal-Map -->
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--Subscription Section ======================-->
</div>

@section Scripts {
	<!-- counter-up -->
	<script src="/assets/js/odometer.js"></script>			
	<!-- counter-up -->				
	<script src="/assets/js/countdown.js"></script>
	<script src="/assets/js/scroll.js"></script>
}